In [1]:
# Installing required packages
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\mguanaz\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\mguanaz\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)
Requirement already satisfied: findspark in c:\users\mguanaz\anaconda3\lib\site-packages (2.0.1)

In [2]:
import findspark
findspark.init()

In [3]:
# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the spark context. 
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, lit, isnan, length, col
from pyspark.sql.types import StructType, IntegerType, StringType, FloatType

In [4]:
REGEX_EMPTY_STR= r'[\t ]+$'

In [5]:
def check_empty_column(coluna):
    return (col(coluna).isNull() | (col(coluna) == '') | col(coluna).rlike(REGEX_EMPTY_STR))

In [6]:
# Creating a spark context class
sc = SparkContext()

# Creating a spark session
spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

Definindo Schema do dataframe

In [7]:

schema = StructType() \
.add("faa", StringType(), True) \
.add("name", StringType(), True) \
.add("lat", FloatType(), True) \
.add("lon", FloatType(), True) \
.add("alt", IntegerType(), True) \
.add("tz", FloatType(), True) \
.add("dst", StringType(), True)

In [8]:
# Ler o dataset
df = spark.read.options(header=True, delimiter=",", inferSChema=False).schema(schema).csv("Datasets/airports.csv")
df_sql = df
rdd = df.rdd

df.show()
df.printSchema()

df_sql.createOrReplaceTempView("airports")

+---+--------------------+---------+-----------+----+----+---+
|faa|                name|      lat|        lon| alt|  tz|dst|
+---+--------------------+---------+-----------+----+----+---+
|04G|   Lansdowne Airport|41.130474|  -80.61958|1044|-5.0|  A|
|06A|Moton Field Munic...| 32.46057|  -85.68003| 264|-5.0|  A|
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801|-6.0|  A|
|06N|     Randall Airport| 41.43191|  -74.39156| 523|-5.0|  A|
|09J|Jekyll Island Air...|31.074472|  -81.42778|  11|-4.0|  A|
|0A9|Elizabethton Muni...|36.371223| -82.173416|1593|-4.0|  A|
|0G6|Williams County A...|41.467304| -84.506775| 730|-5.0|  A|
|0G7|Finger Lakes Regi...|42.883564| -76.781235| 492|-5.0|  A|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000|-5.0|  U|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108|-8.0|  A|
|0W3|Harford County Ai...|39.566837|   -76.2024| 409|-5.0|  A|
|10C|  Galt Field Airport| 42.40289| -88.375114| 875|-6.0|  U|
|17G|Port Bucyrus-Craw...|40.781555|  -82.97481|1003|-5.0|  A|
|19A|Jackson County Ai...|34.175865|   -83.5616| 951|-4.0|  U|
|1A3|Martin Campbell F...|35.015804|  -84.34683|1789|-4.0|  A|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122|-5.0|  A|
|1C9|Frazier Lake Airpark|54.013332| -124.76833| 152|-8.0|  A|
|1CS|Clow Internationa...|41.695976| -88.129234| 670|-6.0|  U|
|1G3|  Kent State Airport| 41.15139|  -81.41511|1134|-4.0|  A|
|1OH|     Fortman Airport|40.555325|  -84.38662| 885|-5.0|  U|
+---+--------------------+---------+-----------+----+----+---+
only showing top 20 rows

root
 |-- faa: string (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lon: float (nullable = true)
 |-- alt: integer (nullable = true)
 |-- tz: float (nullable = true)
 |-- dst: string (nullable = true)

## Airport - Perguntas

#### Pergunta 1

In [9]:
df = df.withColumn("qa_faa", when(check_empty_column('faa'), 'M'))
df.filter(df.qa_faa == 'M').show()

df.groupBy('faa').count().show(100)

+---+----+---+---+---+---+---+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|
+---+----+---+---+---+---+---+------+
+---+----+---+---+---+---+---+------+

+---+-----+
|faa|count|
+---+-----+
|BGM|    1|
|FMY|    1|
|HYL|    1|
|LEB|    1|
|OXC|    1|
|RKP|    1|
|4A7|    1|
|AVX|    1|
|DLG|    1|
|ELI|    1|
|INL|    1|
|OLF|    1|
|TYE|    1|
|FRN|    1|
|MSY|    1|
|RDG|    1|
|1CS|    1|
|CDW|    1|
|DRT|    1|
|DWS|    1|
|FOK|    1|
|GEG|    1|
|HVR|    1|
|KNW|    1|
|4A9|    1|
|BUR|    1|
|CGX|    1|
|DKK|    1|
|F57|    1|
|GVT|    1|
|NMM|    1|
|NQI|    1|
|PTK|    1|
|SNA|    1|
|BYW|    1|
|FOD|    1|
|GRB|    1|
|GTF|    1|
|JGC|    1|
|JRB|    1|
|MRN|    1|
|OPF|    1|
|AIK|    1|
|ASH|    1|
|BXS|    1|
|CAR|    1|
|IFP|    1|
|MXY|    1|
|AUW|    1|
|HOM|    1|
|IDA|    1|
|K03|    1|
|STE|    1|
|SVA|    1|
|WDR|    1|
|GRR|    1|
|HHR|    1|
|LWB|    1|
|NXX|    1|
|3D2|    1|
|JLN|    1|
|MPB|    1|
|NHK|    1|
|NPZ|    1|
|PAO|    1|
|PVU|    1|
|3G3|    1|
|ARA|    1|
|EUG|    1|
|PSG|    1|
|RAL|    1|
|SES|    1|
|ATY|    1|
|GYY|    1|
|HWO|    1|
|KYK|    1|
|PBV|    1|
|RIV|    1|
|SDC|    1|
|6A2|    1|
|CNW|    1|
|GSO|    1|
|ISO|    1|
|MYR|    1|
|PVD|    1|
|SNP|    1|
|SRV|    1|
|KPB|    1|
|KWP|    1|
|OAK|    1|
|UDD|    1|
|1OH|    1|
|BEC|    1|
|DWH|    1|
|EAR|    1|
|BTM|    1|
|COD|    1|
|EGT|    1|
|END|    1|
|FAR|    1|
+---+-----+
only showing top 100 rows

In [10]:
df = df.withColumn("qa_faa", 
                   when((length(df.faa) < 3) | (length(df.faa) > 5), 'F')
                   .otherwise(df.qa_faa))
df.filter(df.qa_faa == 'F').show()


df1 = spark.sql("""
    SELECT *,
        CASE
            WHEN
                faa IS NULL OR faa like '' 
                THEN 'M'
            when 
                length(faa) < 3 or length(faa) > 5 
                then 'F' 
        END AS qa_faa
    FROM airports
""")

df1.filter(df1.qa_faa == 'M').show()
df1.filter(df1.qa_faa == 'F').show()

+---+----+---+---+---+---+---+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|
+---+----+---+---+---+---+---+------+
+---+----+---+---+---+---+---+------+

+---+----+---+---+---+---+---+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|
+---+----+---+---+---+---+---+------+
+---+----+---+---+---+---+---+------+

+---+----+---+---+---+---+---+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|
+---+----+---+---+---+---+---+------+
+---+----+---+---+---+---+---+------+

#### Pergunta 2

In [11]:
df = df.withColumn("qa_name", when(check_empty_column('name'), 'M'))
df.filter(df.qa_name == 'M').show()

df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                name IS NULL OR name like ''
                                THEN 'M'
                        END AS qa_name
                    FROM airports
""")

df.filter(df.qa_name == 'M').show()

+---+--------------------+---------+----------+---+----+---+------+-------+
|faa|                name|      lat|       lon|alt|  tz|dst|qa_faa|qa_name|
+---+--------------------+---------+----------+---+----+---+------+-------+
|IMM|          Immokalee | 26.43389| -81.40139| 37|-5.0|  A|  null|      M|
|MGM|Montgomery Region...| 32.30064|-86.393974|221|-6.0|  A|  null|      M|
|RFD|Chicago Rockford ...|42.195362| -89.09722|742|-6.0|  A|  null|      M|
+---+--------------------+---------+----------+---+----+---+------+-------+

+---+--------------------+---------+----------+---+----+---+------+-------+
|faa|                name|      lat|       lon|alt|  tz|dst|qa_faa|qa_name|
+---+--------------------+---------+----------+---+----+---+------+-------+
|IMM|          Immokalee | 26.43389| -81.40139| 37|-5.0|  A|  null|      M|
|MGM|Montgomery Region...| 32.30064|-86.393974|221|-6.0|  A|  null|      M|
|RFD|Chicago Rockford ...|42.195362| -89.09722|742|-6.0|  A|  null|      M|
+---+--------------------+---------+----------+---+----+---+------+-------+

#### Pergunta 3

In [12]:
df = df.withColumn("qa_lat", when( check_empty_column('lat'), 'M'))
df.filter(df.qa_lat == 'M').show()
df.filter(df.lat.rlike('^[^0-9]*$')).groupBy('lat').count().show()

+---+----+---+---+---+---+---+------+-------+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|
+---+----+---+---+---+---+---+------+-------+------+
+---+----+---+---+---+---+---+------+-------+------+

+---+-----+
|lat|count|
+---+-----+
+---+-----+

In [13]:
df = df.withColumn("qa_lat",
                   when( (df.lat < -180) | (df.lat > 180), 'I')
                   .otherwise(df.qa_lat))
df.filter(df.qa_lat == 'I').show()

+---+----+---+---+---+---+---+------+-------+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|
+---+----+---+---+---+---+---+------+-------+------+
+---+----+---+---+---+---+---+------+-------+------+

In [14]:
df = df.withColumn("qa_lat", 
                   when(df.lat.cast('int').isNull(), 'A')
                   .otherwise(df.qa_lat))
df.filter(df.qa_lat == 'A').show()

df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                lat IS NULL OR lat == ''
                                THEN 'M'
                            WHEN
                                lat < -180 OR lat > 180
                                THEN 'I'
                            WHEN
                                lat rlike '^([^0-9]*)$'
                                THEN 'A'
                        END AS qa_lat
                    FROM airports
""")

df1.filter(df1.qa_lat.isin(['M','I','A'])).show()

+---+----+---+---+---+---+---+------+-------+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|
+---+----+---+---+---+---+---+------+-------+------+
+---+----+---+---+---+---+---+------+-------+------+

+---+----+---+---+---+---+---+------+
|faa|name|lat|lon|alt| tz|dst|qa_lat|
+---+----+---+---+---+---+---+------+
+---+----+---+---+---+---+---+------+

#### Pergunta 4

In [15]:
df = df.withColumn("qa_lon", when(check_empty_column('lon'), 'M'))
df.filter(df.qa_lon == 'M').show()
df.filter(df.lon.rlike('^[^0-9]*$')).groupBy('lon').count().show()

+---+----+---+---+---+---+---+------+-------+------+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|
+---+----+---+---+---+---+---+------+-------+------+------+
+---+----+---+---+---+---+---+------+-------+------+------+

+---+-----+
|lon|count|
+---+-----+
+---+-----+

In [16]:
df = df.withColumn("qa_lon", 
                   when( (df.lon < -180) | (df.lon > 180), 'I')
                   .otherwise(df.qa_lon))
df.filter(df.qa_lon == 'I').show()

+---+----+---+---+---+---+---+------+-------+------+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|
+---+----+---+---+---+---+---+------+-------+------+------+
+---+----+---+---+---+---+---+------+-------+------+------+

In [17]:
df = df.withColumn("qa_lon", 
                   when(df.lon.cast('int').isNull(), 'A')
                   .otherwise(df.qa_lon))
df.filter(df.qa_lon == 'A').show()



df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                lon IS NULL OR lon == ''
                                THEN 'M'
                            WHEN
                                lon < -180 OR lon > 180
                                THEN 'I'
                            WHEN
                                lon rlike '^([^0-9]*)$'
                                THEN 'A'
                        END AS qa_lon
                    FROM airports
""")

df1.filter(df1.qa_lon.isin(['M','I','A'])).show()

+---+----+---+---+---+---+---+------+-------+------+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|
+---+----+---+---+---+---+---+------+-------+------+------+
+---+----+---+---+---+---+---+------+-------+------+------+

+---+----+---+---+---+---+---+------+
|faa|name|lat|lon|alt| tz|dst|qa_lon|
+---+----+---+---+---+---+---+------+
+---+----+---+---+---+---+---+------+

#### Pergunta 5

In [18]:
df = df.withColumn("qa_alt", when(check_empty_column('alt'), 'M'))

df.filter(df.alt.rlike('^[^0-9]*$')).show()
df.filter(df.qa_alt == 'M').show()

+---+----+---+---+---+---+---+------+-------+------+------+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|
+---+----+---+---+---+---+---+------+-------+------+------+------+
+---+----+---+---+---+---+---+------+-------+------+------+------+

+---+----+---+---+---+---+---+------+-------+------+------+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|
+---+----+---+---+---+---+---+------+-------+------+------+------+
+---+----+---+---+---+---+---+------+-------+------+------+------+

In [19]:
df = df.withColumn("qa_alt", 
                   when( df.alt < 0, 'I')
                   .otherwise(df.qa_alt))

df.filter(df.qa_alt == 'I').show()

+---+-------------+---------+----------+---+----+---+------+-------+------+------+------+
|faa|         name|      lat|       lon|alt|  tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|
+---+-------------+---------+----------+---+----+---+------+-------+------+------+------+
|IPL|  Imperial Co| 32.83422|-115.57874|-54|-8.0|  A|  null|   null|  null|  null|     I|
|NJK|El Centro Naf|32.829224|-115.67167|-42|-8.0|  A|  null|   null|  null|  null|     I|
+---+-------------+---------+----------+---+----+---+------+-------+------+------+------+

In [20]:
df = df.withColumn("qa_alt", 
                   when( df.alt.cast('int').isNull(), 'A')
                   .otherwise(df.qa_alt))

df.filter(df.qa_alt == 'A').show()


df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                alt IS NULL OR alt == ''
                                THEN 'M'
                            WHEN
                                alt < 0
                                THEN 'I'
                            WHEN
                                alt rlike '^([^0-9]*)$'
                                THEN 'A'
                        END AS qa_alt
                    FROM airports
""")

df1.filter(df1.qa_alt.isin(['M','I','A'])).show()

+---+----+---+---+---+---+---+------+-------+------+------+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|
+---+----+---+---+---+---+---+------+-------+------+------+------+
+---+----+---+---+---+---+---+------+-------+------+------+------+

+---+-------------+---------+----------+---+----+---+------+
|faa|         name|      lat|       lon|alt|  tz|dst|qa_alt|
+---+-------------+---------+----------+---+----+---+------+
|IPL|  Imperial Co| 32.83422|-115.57874|-54|-8.0|  A|     I|
|NJK|El Centro Naf|32.829224|-115.67167|-42|-8.0|  A|     I|
+---+-------------+---------+----------+---+----+---+------+

#### Pergunta 6

In [21]:
df = df.withColumn("qa_tz", when( check_empty_column('tz'), 'M'))
df.filter(df.qa_tz =='M').show()

df.filter(df.tz.rlike('^[^0-9]*$')).show()

+---+----+---+---+---+---+---+------+-------+------+------+------+-----+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|qa_tz|
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+

+---+----+---+---+---+---+---+------+-------+------+------+------+-----+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|qa_tz|
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+

In [22]:
df = df.withColumn("qa_tz", 
                   when((df.tz < -11) | (df.tz > 14), 'I')
                   .otherwise(df.qa_tz))
df.filter(df.qa_tz == 'I').show()
print(df.filter(col('tz').between(-7,-5) & (col('dst') != 'A')).count())
print(df.filter(col('dst') == 'A').count())

+---+----+---+---+---+---+---+------+-------+------+------+------+-----+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|qa_tz|
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+

51
1329

In [23]:
df = df.withColumn("qa_tz", 
                   when(df.tz.cast('int').isNull(), 'A')
                   .otherwise(df.qa_tz))

df.filter(df.qa_tz =='A').show()


df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                tz IS NULL OR tz == ''
                                THEN 'M'
                            WHEN
                                tz < -11 OR tz > 14
                                THEN 'I'
                            WHEN
                                tz rlike '^([^0-9]*)$'
                                THEN 'A'
                        END AS qa_tz
                    FROM airports
""")

df1.filter(df1.qa_tz.isin(['M','I','A'])).show()

+---+----+---+---+---+---+---+------+-------+------+------+------+-----+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|qa_tz|
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+

+---+----+---+---+---+---+---+-----+
|faa|name|lat|lon|alt| tz|dst|qa_tz|
+---+----+---+---+---+---+---+-----+
+---+----+---+---+---+---+---+-----+

#### Pergunta 7

In [24]:
df = df.withColumn("qa_dst", 
                   when(check_empty_column('dst'), 'M'))

df.filter(df.qa_dst == 'M').show()
df.filter(df.dst.rlike('[0-9]')).show()
print(df.filter((col('dst') == 'U') | (col('tz').between(-7,-5) & (col('dst') != 'A'))).count())
print(df.filter(col('dst') == 'A').count())

+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|qa_tz|qa_dst|
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+

+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|qa_tz|qa_dst|
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+

59
1329

In [25]:
categories = ['E','A','S','O','Z','N','U']
df = df.withColumn("qa_dst", 
                   when(~df.dst.isin(categories), 'C')
                   .otherwise(df.qa_dst))
df.filter(df.qa_dst =='C').show()

+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|qa_tz|qa_dst|
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+

In [26]:
df = df.withColumn("qa_dst", 
                   when(df.dst.cast('int').isNotNull(), 'N')
                   .otherwise(df.qa_dst))

df.filter(df.qa_dst == 'N').show()

df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                dst IS NULL OR dst == ''
                                THEN 'M'
                            WHEN
                                dst NOT IN ('E','A','S','O','Z','N','U')
                                THEN 'C'
                            WHEN
                                dst rlike '^([0-9]*)$'
                                THEN 'N'
                        END AS qa_dst
                    FROM airports
""")

df1.filter(df1.qa_dst.isin(['M','C','N'])).show()

+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+
|faa|name|lat|lon|alt| tz|dst|qa_faa|qa_name|qa_lat|qa_lon|qa_alt|qa_tz|qa_dst|
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+
+---+----+---+---+---+---+---+------+-------+------+------+------+-----+------+

+---+----+---+---+---+---+---+------+
|faa|name|lat|lon|alt| tz|dst|qa_dst|
+---+----+---+---+---+---+---+------+
+---+----+---+---+---+---+---+------+

In [27]:
df_qa = df.select(df.faa ,df.qa_faa, df.qa_name, df.qa_lat, df.qa_lon, df.qa_tz, df.qa_dst, df.qa_alt)
df_qa.write.mode('overwrite').parquet("output/airports_qa.parquet")

## Plane - Perguntas

In [28]:
schema_plane = StructType()\
.add("tailnum", StringType(), True)\
.add("year", IntegerType(), True)\
.add("type", StringType(), True) \
.add("manufacturer", StringType(), True)\
.add("model", StringType(), True)\
.add("engines", IntegerType(), True)\
.add("seats", IntegerType(), True)\
.add("speed", IntegerType(), True)\
.add("engine", StringType(), True)

In [29]:
df_planes = spark.read.options(header=True, delimiter=",").schema(schema_plane).csv("Datasets/planes.csv")

df_planes_sql = df_planes
df_planes_sql.createOrReplaceTempView("planes")


df_planes.printSchema()

root
 |-- tailnum: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- engines: integer (nullable = true)
 |-- seats: integer (nullable = true)
 |-- speed: integer (nullable = true)
 |-- engine: string (nullable = true)

#### Pergunta 1

In [30]:
df_planes = df_planes.withColumn("qa_tailnum", 
                                   when(check_empty_column('tailnum'), 'M')
                                  .when(~length(df_planes.tailnum).between(5,6), 'S')
                                  .when(~df_planes.tailnum.startswith('N'),'FN')
                                  .when(df_planes.tailnum.rlike('I|O|N0'),'FE')
                                  .when(
                                       ~df_planes.tailnum.rlike('^N[1-9][0-9]{2,3}([ABCDEFGHJKLMNPQRSTUVXWYZ]{1,2})')
                                       ,'F'))

df_planes.filter(df_planes.qa_tailnum.isin(['M','S','FN','FE','F'])).groupBy('qa_tailnum').count().show()
df_planes

+----------+-----+
|qa_tailnum|count|
+----------+-----+
|         F|  298|
+----------+-----+

DataFrame[tailnum: string, year: int, type: string, manufacturer: string, model: string, engines: int, seats: int, speed: int, engine: string, qa_tailnum: string]

In [31]:
df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                tailnum IS NULL OR tailnum == ''
                                THEN 'M'
                            WHEN
                                length(tailnum) <> 5
                                THEN 'S'
                            WHEN 
                                tailnum rlike "N[1-9][0-9]*2Z$|N[0-9]*2[A-Z][A-Z]$"
                                THEN 'F'
                            WHEN 
                                tailnum NOT LIKE 'N%'
                                THEN 'FN'
                            WHEN
                                 tailnum LIKE '%I%' OR tailnum LIKE '%O%' OR tailnum LIKE 'N0'
                                 THEN 'FE'
                        END AS qa_tailnum
                    FROM planes

""")

df1.filter(df1.qa_tailnum.isin(['M','F','FN','FE'])).show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+

#### Pergunta 2

In [32]:
df_planes = df_planes.withColumn("qa_year", 
                                 when( check_empty_column('year'), 'M'))
df_planes.filter(df_planes.qa_year == 'M').show()
df_planes.groupBy('year').count().show(100)

+-------+----+--------------------+----------------+-------------+-------+-----+-----+-------------+----------+-------+
|tailnum|year|                type|    manufacturer|        model|engines|seats|speed|       engine|qa_tailnum|qa_year|
+-------+----+--------------------+----------------+-------------+-------+-----+-----+-------------+----------+-------+
| N174US|null|Fixed wing multi ...|AIRBUS INDUSTRIE|     A321-211|      2|  199| null|    Turbo-jet|      null|      M|
| N177US|null|Fixed wing multi ...|AIRBUS INDUSTRIE|     A321-211|      2|  199| null|    Turbo-jet|      null|      M|
| N181UW|null|Fixed wing multi ...|AIRBUS INDUSTRIE|     A321-211|      2|  199| null|    Turbo-jet|      null|      M|
| N194UW|null|Fixed wing multi ...|          AIRBUS|     A321-211|      2|  199| null|    Turbo-fan|      null|      M|
| N271LV|null|Fixed wing multi ...|          BOEING|      737-705|      2|  149| null|    Turbo-fan|      null|      M|
| N298WN|null|Fixed wing multi ...|          BOEING|      737-7H4|      2|  140| null|    Turbo-fan|      null|      M|
| N299WN|null|Fixed wing multi ...|          BOEING|      737-7H4|      2|  140| null|    Turbo-fan|      null|      M|
| N331NB|null|Fixed wing multi ...|AIRBUS INDUSTRIE|     A319-114|      2|  145| null|    Turbo-fan|      null|      M|
| N33292|null|Fixed wing multi ...|          BOEING|      737-824|      2|  149| null|    Turbo-fan|         F|      M|
| N345NB|null|Fixed wing multi ...|          AIRBUS|     A319-114|      2|  145| null|    Turbo-fan|      null|      M|
| N389HA|null|Fixed wing multi ...|          AIRBUS|     A330-243|      2|  377| null|    Turbo-fan|      null|      M|
| N466UA|null|Fixed wing multi ...|AIRBUS INDUSTRIE|     A320-232|      2|  200| null|    Turbo-fan|      null|      M|
| N527AS|null|Fixed wing multi ...|          BOEING|      737-890|      2|  149| null|    Turbo-fan|      null|      M|
| N528AA|null|Fixed wing single...| LAMBERT RICHARD|    FALCON XP|      1|    2| null|Reciprocating|      null|      M|
| N531JB|null|Fixed wing single...|   BARKER JACK L|ZODIAC 601HDS|      1|    2| null|Reciprocating|      null|      M|
| N53441|null|Fixed wing multi ...|          BOEING|    737-924ER|      2|  191| null|    Turbo-fan|         F|      M|
| N583HA|null|Fixed wing multi ...|          BOEING|      767-33A|      2|  330| null|    Turbo-fan|      null|      M|
| N613QX|null|Fixed wing multi ...|  BOMBARDIER INC|  CL-600-2C10|      2|   80| null|    Turbo-fan|      null|      M|
| N673AW|null|Fixed wing multi ...|          AIRBUS|     A320-232|      2|  200| null|    Turbo-fan|      null|      M|
| N679SA|null|Fixed wing multi ...|  BOMBARDIER INC|  CL-600-2B19|      2|   55| null|    Turbo-fan|      null|      M|
+-------+----+--------------------+----------------+-------------+-------+-----+-----+-------------+----------+-------+
only showing top 20 rows

+----+-----+
|year|count|
+----+-----+
|1959|    1|
|1990|   42|
|1975|    2|
|2003|  117|
|2007|   93|
|2006|  128|
|2013|   88|
|null|   60|
|1988|   29|
|1997|   69|
|1994|   39|
|1968|    1|
|2014|  105|
|2004|  132|
|1991|   48|
|1996|   72|
|1989|   21|
|1998|  159|
|1963|    1|
|1985|   15|
|2012|   88|
|1987|   23|
|2009|   77|
|1995|   54|
|1980|    1|
|2001|  210|
|1992|   78|
|2005|  111|
|1984|    5|
|2000|  189|
|2010|   45|
|1986|   13|
|2011|   64|
|1976|    1|
|2008|  106|
|1999|  167|
|2002|  132|
|   0|    1|
|1993|   41|
+----+-----+

In [33]:
df_planes = df_planes.withColumn("qa_year", 
                                 when(df_planes.year < 1950, 'I')
                                 .otherwise(df_planes.qa_year))
df_planes.filter(df_planes.qa_year == 'I').show()


df1 = spark.sql("""
            SELECT *,
                CASE
                    WHEN
                        year IS NULL OR year == ''
                        THEN 'M'
                    WHEN
                        year < 1950
                        THEN 'I'
                    END AS qa_year
                FROM planes
""")

df1.filter(df1.qa_year.isin(['M','I'])).show()

+-------+----+--------------------+------------+---------+-------+-----+-----+----------+----------+-------+
|tailnum|year|                type|manufacturer|    model|engines|seats|speed|    engine|qa_tailnum|qa_year|
+-------+----+--------------------+------------+---------+-------+-----+-----+----------+----------+-------+
| N235SW|   0|Fixed wing multi ...|     EMBRAER|EMB-120ER|      2|   32| null|Turbo-prop|      null|      I|
+-------+----+--------------------+------------+---------+-------+-----+-----+----------+----------+-------+

+-------+----+--------------------+----------------+-------------+-------+-----+-----+-------------+-------+
|tailnum|year|                type|    manufacturer|        model|engines|seats|speed|       engine|qa_year|
+-------+----+--------------------+----------------+-------------+-------+-----+-----+-------------+-------+
| N174US|null|Fixed wing multi ...|AIRBUS INDUSTRIE|     A321-211|      2|  199| null|    Turbo-jet|      M|
| N177US|null|Fixed wing multi ...|AIRBUS INDUSTRIE|     A321-211|      2|  199| null|    Turbo-jet|      M|
| N181UW|null|Fixed wing multi ...|AIRBUS INDUSTRIE|     A321-211|      2|  199| null|    Turbo-jet|      M|
| N194UW|null|Fixed wing multi ...|          AIRBUS|     A321-211|      2|  199| null|    Turbo-fan|      M|
| N235SW|   0|Fixed wing multi ...|         EMBRAER|    EMB-120ER|      2|   32| null|   Turbo-prop|      I|
| N271LV|null|Fixed wing multi ...|          BOEING|      737-705|      2|  149| null|    Turbo-fan|      M|
| N298WN|null|Fixed wing multi ...|          BOEING|      737-7H4|      2|  140| null|    Turbo-fan|      M|
| N299WN|null|Fixed wing multi ...|          BOEING|      737-7H4|      2|  140| null|    Turbo-fan|      M|
| N331NB|null|Fixed wing multi ...|AIRBUS INDUSTRIE|     A319-114|      2|  145| null|    Turbo-fan|      M|
| N33292|null|Fixed wing multi ...|          BOEING|      737-824|      2|  149| null|    Turbo-fan|      M|
| N345NB|null|Fixed wing multi ...|          AIRBUS|     A319-114|      2|  145| null|    Turbo-fan|      M|
| N389HA|null|Fixed wing multi ...|          AIRBUS|     A330-243|      2|  377| null|    Turbo-fan|      M|
| N466UA|null|Fixed wing multi ...|AIRBUS INDUSTRIE|     A320-232|      2|  200| null|    Turbo-fan|      M|
| N527AS|null|Fixed wing multi ...|          BOEING|      737-890|      2|  149| null|    Turbo-fan|      M|
| N528AA|null|Fixed wing single...| LAMBERT RICHARD|    FALCON XP|      1|    2| null|Reciprocating|      M|
| N531JB|null|Fixed wing single...|   BARKER JACK L|ZODIAC 601HDS|      1|    2| null|Reciprocating|      M|
| N53441|null|Fixed wing multi ...|          BOEING|    737-924ER|      2|  191| null|    Turbo-fan|      M|
| N583HA|null|Fixed wing multi ...|          BOEING|      767-33A|      2|  330| null|    Turbo-fan|      M|
| N613QX|null|Fixed wing multi ...|  BOMBARDIER INC|  CL-600-2C10|      2|   80| null|    Turbo-fan|      M|
| N673AW|null|Fixed wing multi ...|          AIRBUS|     A320-232|      2|  200| null|    Turbo-fan|      M|
+-------+----+--------------------+----------------+-------------+-------+-----+-----+-------------+-------+
only showing top 20 rows

#### Pergunta 3

In [34]:
df_planes = df_planes.withColumn("qa_type", 
                                 when(check_empty_column('type'), 'M'))

df_planes.filter(df_planes.qa_type == 'M').show()
df_planes.groupBy('type').count().show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+

+--------------------+-----+
|                type|count|
+--------------------+-----+
|          Rotorcraft|    3|
|Fixed wing multi ...| 2615|
|Fixed wing single...|   10|
+--------------------+-----+

In [35]:
types = ['Fixed wing multi engine','Fixed wing single engine','Rotorcraft']
df_planes = df_planes.withColumn("qa_type", 
                                 when(~df_planes.type.isin(types), 'C')
                                 .otherwise(df_planes.qa_type))

df_planes.filter(df_planes.qa_type == 'C').show()


df1 = spark.sql("""
                    SELECT *,
                CASE
                    WHEN
                        type IS NULL OR type == ''
                        THEN 'M'
                    WHEN
                        type NOT IN ('Fixed wing multi engine','Fixed wing single engine','Rotorcraft')
                        THEN 'C'
                    END AS qa_type
                FROM planes
""")

df1.filter(df1.qa_type.isin(['M','C'])).show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+

+-------+----+----+------------+-----+-------+-----+-----+------+-------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_type|
+-------+----+----+------------+-----+-------+-----+-----+------+-------+
+-------+----+----+------------+-----+-------+-----+-----+------+-------+

#### Pergunta 4

In [36]:
df_planes = df_planes.withColumn("qa_manufacturer", 
                                 when(check_empty_column('manufacturer'),'M'))

df_planes.filter(df_planes.qa_manufacturer == 'M').show()
df_planes.groupBy('manufacturer').count().show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+

+--------------------+-----+
|        manufacturer|count|
+--------------------+-----+
|       BARKER JACK L|    1|
|    AIRBUS INDUSTRIE|  401|
|ROBINSON HELICOPT...|    1|
|            SIKORSKY|    1|
|              BOEING| 1460|
|             EMBRAER|   37|
|  CIRRUS DESIGN CORP|    1|
|          MARZ BARRY|    1|
|              CESSNA|    4|
|     LAMBERT RICHARD|    1|
|      BOMBARDIER INC|  214|
|               PIPER|    2|
|                BELL|    1|
|MCDONNELL DOUGLAS...|    2|
|   MCDONNELL DOUGLAS|   94|
|        KILDALL GARY|    1|
|            CANADAIR|    8|
|              AIRBUS|  397|
|GULFSTREAM AEROSPACE|    1|
+--------------------+-----+

In [37]:
manufacturers = ['AIRBUS','BOEING','BOMBARDIER','CESSNA','EMBRAER','SIKORSKY','CANADAIR',
                 'PIPER','MCDONNELL DOUGLAS','CIRRUS','BELL','KILDALL GARY','LAMBERT RICHARD',
                 'BARKER JACK','ROBINSON HELICOPTER','GULFSTREAM','MARZ BARRY']

REGEX_MANUFACTURER_LIST = r'|'.join(map(lambda word: f'.*{word}.*', manufacturers))

df_planes = df_planes.withColumn("qa_manufacturer", 
                                 when(~df_planes.manufacturer.rlike(REGEX_MANUFACTURER_LIST), 'C')
                                 .otherwise(df_planes.qa_manufacturer))
df_planes.filter(df_planes.qa_manufacturer == 'C').show()



df1 = spark.sql("""
                    SELECT *,
                CASE
                    WHEN
                        manufacturer IS NULL OR manufacturer == ''
                        THEN 'M'
                    WHEN
                        manufacturer NOT IN ('AIRBUS','BOEING','BOMBARDIER','CESSNA','EMBRAER',
                                            'SIKORSKY','CANADAIR','PIPER','MCDONNELL DOUGLAS',
                                            'CIRRUS','BELL','KILDALL GARY','LAMBERT RICHARD',
                                            'BARKER JACK','ROBINSON HELICOPTER','GULFSTREAM',
                                            'MARZ BARRY')
                        THEN 'C'
                    END AS qa_manufacturer
                FROM planes
""")

df1.filter(df1.qa_manufacturer.isin(['M','C'])).show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+

+-------+----+--------------------+----------------+-----------+-------+-----+-----+---------+---------------+
|tailnum|year|                type|    manufacturer|      model|engines|seats|speed|   engine|qa_manufacturer|
+-------+----+--------------------+----------------+-----------+-------+-----+-----+---------+---------------+
| N102UW|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N103US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N104UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N105UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N107US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N108UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N109UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N110UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N111US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N112US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N113UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N114UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N117UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N118US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N119US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N121UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N122US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N123UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N124US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|   A320-214|      2|  182| null|Turbo-fan|              C|
| N161PQ|2008|Fixed wing multi ...|  BOMBARDIER INC|CL-600-2D24|      2|   95| null|Turbo-fan|              C|
+-------+----+--------------------+----------------+-----------+-------+-----+-----+---------+---------------+
only showing top 20 rows

#### Pergunta 5

In [38]:
df_planes = df_planes.withColumn("qa_model", 
                                 when( check_empty_column('model'), 'M')
                                . when(
                                     ((col('manufacturer').rlike(r'.*AIRBUS.*') & ~col('model').startswith('A')) |
                                      (col('manufacturer').rlike(r'.*BOEING.*') & ~col('model').startswith('7')) |
                                      (col('manufacturer').rlike(r'.*(BOMBARDIER|CANADAIR).*') & ~col('model').startswith('CL')) |
                                      (col('manufacturer').rlike(r'.*MCDONNELL DOUGLAS.*') &  ~(col('model').startswith('MD') | col('model').startswith('DC')) )),
                                     'F'))
df_planes.filter(df_planes.qa_model.isin(['M','F'])).count()

15

#### Pergunta 6

In [39]:
df_planes = df_planes.withColumn("qa_engines", 
                                 when(check_empty_column('engines'), 'M'))
df_planes.filter(df_planes.qa_engines == 'M').show()
df_planes.filter(col('engines').rlike('^[^0-9]*$')).show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+

In [40]:
df_planes = df_planes.withColumn("qa_engines", 
                                 when( (df_planes.engines < 1) | (df_planes.engines > 4), 'I')
                                 .otherwise(df_planes.qa_engines))

df_planes.filter(df_planes.qa_engines == 'I').show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+

In [41]:
df_planes = df_planes.withColumn("qa_engines", 
                                 when( df_planes.engines.rlike('\D+'), 'A')
                                 .otherwise(df_planes.qa_engines))

df_planes.filter(df_planes.qa_engines == 'A').show()

df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                engines IS NULL OR engines == ''
                                THEN 'M'
                            WHEN
                                engines < 1 OR engines > 4
                                THEN 'I'
                            WHEN
                                engines rlike '[^0-9]'
                                THEN 'A'
                        END AS qa_engines
                    FROM planes
""")

df1.filter(df1.qa_engines.isin(['M','I','A'])).show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+

+-------+----+----+------------+-----+-------+-----+-----+------+----------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_engines|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+

#### Pergunta 7

In [42]:
df_planes = df_planes.withColumn("qa_seats", 
                                 when( check_empty_column('seats'), 'M'))
df_planes.filter(df_planes.qa_seats == 'M').show()

df_planes.filter(col('engines').rlike('^[^0-9]*$')).show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|qa_seats|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|qa_seats|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+

In [43]:
df_planes = df_planes.withColumn("qa_seats", 
                                 when((df_planes.seats < 2) | (df_planes.seats > 500), 'I')
                                 .otherwise(df_planes.qa_seats))

df_planes.filter(df_planes.qa_seats == 'I').show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|qa_seats|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+

In [44]:
df_planes = df_planes.withColumn("qa_seats", 
                                 when( df_planes.seats.rlike('\D+'), 'A')
                                 .otherwise(df_planes.qa_seats))

df_planes.filter(df_planes.qa_seats == 'A').show()


df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                seats IS NULL OR seats == ''
                                THEN 'M'
                            WHEN
                                seats < 2 OR seats > 500
                                THEN 'I'
                            WHEN
                                seats rlike '[^0-9]'
                                THEN 'A'
                        END AS qa_seats
                    FROM planes
""")

df1.filter(df1.qa_seats.isin(['M','I','A'])).show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|qa_seats|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+

+-------+----+----+------------+-----+-------+-----+-----+------+--------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_seats|
+-------+----+----+------------+-----+-------+-----+-----+------+--------+
+-------+----+----+------------+-----+-------+-----+-----+------+--------+

#### Pergunta 8

In [45]:
df_planes = df_planes.withColumn("qa_speed", 
                                 when(check_empty_column('speed'), 'M'))
df_planes.filter(df_planes.qa_speed == 'M').show()

+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+----------+-------+-------+---------------+--------+----------+--------+--------+
|tailnum|year|                type|    manufacturer|   model|engines|seats|speed|   engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|qa_seats|qa_speed|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+----------+-------+-------+---------------+--------+----------+--------+--------+
| N102UW|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N103US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N104UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N105UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N107US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N108UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N109UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N110UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N111US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N11206|2000|Fixed wing multi ...|          BOEING| 737-824|      2|  149| null|Turbo-fan|         F|   null|   null|           null|    null|      null|    null|       M|
| N112US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N113UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N114UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N117UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N118US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N119US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N1200K|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N1201P|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
| N12114|1995|Fixed wing multi ...|          BOEING| 757-224|      2|  178| null|Turbo-jet|         F|   null|   null|           null|    null|      null|    null|       M|
| N121DE|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|      null|   null|   null|           null|    null|      null|    null|       M|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+----------+-------+-------+---------------+--------+----------+--------+--------+
only showing top 20 rows

In [46]:
df_planes = df_planes.withColumn("qa_speed", 
                                 when((df_planes.speed < 50) | (df_planes.speed > 150), 'I')
                                 .otherwise(df_planes.qa_speed))

df_planes.filter(df_planes.qa_speed == 'I').show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+--------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|qa_seats|qa_speed|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+--------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+--------+

In [47]:
df_planes = df_planes.withColumn("qa_speed", 
                                 when( df_planes.speed.rlike('\D+'), 'A')
                                 .otherwise(df_planes.qa_speed))

df_planes.filter(df_planes.qa_speed == 'A').show()


df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                speed IS NULL OR speed == ''
                                THEN 'M'
                            WHEN
                                speed < 50 OR speed > 150
                                THEN 'I'
                            WHEN
                                speed rlike '[^0-9]'
                                THEN 'A'
                        END AS qa_speed
                    FROM planes
""")

df1.filter(df1.qa_speed.isin(['M','I','A'])).show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+--------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|qa_seats|qa_speed|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+--------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+--------+

+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
|tailnum|year|                type|    manufacturer|   model|engines|seats|speed|   engine|qa_speed|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
| N102UW|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N103US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N104UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N105UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N107US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N108UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N109UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N110UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N111US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N11206|2000|Fixed wing multi ...|          BOEING| 737-824|      2|  149| null|Turbo-fan|       M|
| N112US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N113UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N114UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N117UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N118US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N119US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|       M|
| N1200K|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       M|
| N1201P|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       M|
| N12114|1995|Fixed wing multi ...|          BOEING| 757-224|      2|  178| null|Turbo-jet|       M|
| N121DE|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       M|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
only showing top 20 rows

#### Pergunta 9

In [48]:
df_planes = df_planes.withColumn("qa_engine", 
                                 when( check_empty_column('engine'), 'M'))
df_planes.filter(df_planes.qa_engine == 'M').show()

+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+--------+---------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|qa_tailnum|qa_year|qa_type|qa_manufacturer|qa_model|qa_engines|qa_seats|qa_speed|qa_engine|
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+--------+---------+
+-------+----+----+------------+-----+-------+-----+-----+------+----------+-------+-------+---------------+--------+----------+--------+--------+---------+

In [49]:
engine_list = ['Turbo-fan', 'Turbo-jet','Turbo-prop','Turbo-shaft','4 Cycle']

df_planes = df_planes.withColumn("qa_engine", 
                                 when(~df_planes.engine.isin(engine_list), 'C')
                                 .otherwise(df_planes.qa_engine))

df_planes.filter(df_planes.qa_engine == 'C').groupBy('qa_engine').count().show()
df_planes.groupBy('engine').count().show()

df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                engine IS NULL OR engine == ''
                                THEN 'M'
                            WHEN
                                engine NOT IN ('Turbo-fan', 'Turbo-jet','Turbo-prop',
                                                'Turbo-shaft','4 Cycle')
                                THEN 'C'
                        END AS qa_engine
                    FROM planes
""")

df1.filter(df1.qa_engine.isin(['M','C'])).show()

+---------+-----+
|qa_engine|count|
+---------+-----+
|        C|   10|
+---------+-----+

+-------------+-----+
|       engine|count|
+-------------+-----+
|    Turbo-jet|  450|
|      4 Cycle|    1|
|    Turbo-fan| 2127|
|   Turbo-prop|   37|
|Reciprocating|   10|
|  Turbo-shaft|    3|
+-------------+-----+

+-------+----+--------------------+------------------+-------------+-------+-----+-----+-------------+---------+
|tailnum|year|                type|      manufacturer|        model|engines|seats|speed|       engine|qa_engine|
+-------+----+--------------------+------------------+-------------+-------+-----+-----+-------------+---------+
| N201AA|1959|Fixed wing single...|            CESSNA|          150|      1|    2|   90|Reciprocating|        C|
| N202AA|1980|Fixed wing multi ...|            CESSNA|         421C|      2|    8|   90|Reciprocating|        C|
| N425AA|1968|Fixed wing single...|             PIPER|    PA-28-180|      1|    4|  107|Reciprocating|        C|
| N508JB|2007|Fixed wing single...|CIRRUS DESIGN CORP|         SR22|      1|    4| null|Reciprocating|        C|
| N520AA|1985|Fixed wing single...|      KILDALL GARY|    FALCON-XP|      1|    2| null|Reciprocating|        C|
| N528AA|null|Fixed wing single...|   LAMBERT RICHARD|    FALCON XP|      1|    2| null|Reciprocating|        C|
| N531JB|null|Fixed wing single...|     BARKER JACK L|ZODIAC 601HDS|      1|    2| null|Reciprocating|        C|
| N545AA|1976|Fixed wing single...|             PIPER|   PA-32R-300|      1|    7|  126|Reciprocating|        C|
| N557AA|1993|Fixed wing single...|        MARZ BARRY|    KITFOX IV|      1|    2| null|Reciprocating|        C|
| N575AA|1963|Fixed wing single...|            CESSNA|   210-5(205)|      1|    6| null|Reciprocating|        C|
+-------+----+--------------------+------------------+-------------+-------+-----+-----+-------------+---------+

In [50]:
df_planes_qa = df_planes.select(col("tailnum"),
                                col("qa_tailnum"),
                                col("qa_year"), 
                                col("qa_type"), 
                                col("qa_manufacturer"), 
                                col("qa_model"), 
                                col("qa_engines"), 
                                col("qa_seats"), 
                                col("qa_speed"), 
                                col("qa_engine")
                               )
df_planes_qa.write.mode('overwrite').parquet("output/planes_qa.parquet")

## Flights - perguntas

In [51]:
schema_flights = StructType()\
.add("year", IntegerType(), True)\
.add('month', IntegerType(), True)\
.add('day', IntegerType(), True)\
.add('dep_time', StringType(), True)\
.add('dep_delay', IntegerType(), True)\
.add('arr_time', StringType(), True)\
.add('arr_delay', IntegerType(), True)\
.add('carrier', StringType(), True)\
.add('tailnum', StringType(), True)\
.add('flight', StringType(), True)\
.add('origin', StringType(), True)\
.add('dest', StringType(), True)\
.add('air_time', IntegerType(), True)\
.add('distance', IntegerType(), True)\
.add('hour', IntegerType(), True)\
.add('minute', IntegerType(), True)

In [52]:
df_flights = spark.read.options(delimiter=',', header=True).schema(schema_flights).csv("Datasets/flights.csv")

df_flights_sql = df_flights
rdd = df_flights.rdd
rdd1 = rdd.coalesce(3)
colunas = df_flights.columns
df_flights_sql.createOrReplaceTempView("flights")

#### Pergunta 1

In [53]:
df_flights = df_flights.withColumn("qa_year_month_day", 
                                   when(check_empty_column('year'), 'MY'))

df_flights.filter(df_flights.qa_year_month_day == 'MY').show()

df_flights.groupBy('minute').count().orderBy('minute').show(65)
print(df_flights.filter(col('minute').isNull()).count())
print(df_flights.filter(col('hour').isNull()).count())
print(df_flights.filter(col('minute')==0).count())
print(df_flights.filter(col('hour')==0).count())

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+

+------+-----+
|minute|count|
+------+-----+
|  null|   48|
|     0|  178|
|     1|  184|
|     2|  173|
|     3|  161|
|     4|  157|
|     5|  167|
|     6|  157|
|     7|  153|
|     8|  153|
|     9|  183|
|    10|  160|
|    11|  161|
|    12|  161|
|    13|  150|
|    14|  136|
|    15|  162|
|    16|  152|
|    17|  155|
|    18|  130|
|    19|  155|
|    20|  163|
|    21|  139|
|    22|  156|
|    23|  142|
|    24|  177|
|    25|  188|
|    26|  154|
|    27|  172|
|    28|  159|
|    29|  180|
|    30|  155|
|    31|  153|
|    32|  149|
|    33|  173|
|    34|  125|
|    35|  154|
|    36|  133|
|    37|  135|
|    38|  150|
|    39|  155|
|    40|  172|
|    41|  166|
|    42|  160|
|    43|  153|
|    44|  134|
|    45|  145|
|    46|  142|
|    47|  173|
|    48|  176|
|    49|  155|
|    50|  196|
|    51|  161|
|    52|  191|
|    53|  200|
|    54|  198|
|    55|  230|
|    56|  201|
|    57|  242|
|    58|  235|
|    59|  222|
+------+-----+

48
48
178
89

In [54]:
df_flights = df_flights.withColumn("qa_year_month_day", 
                                   when(check_empty_column('month'), 'MM')
                                   .otherwise(df_flights.qa_year_month_day))

df_flights.filter(df_flights.qa_year_month_day == 'MM').show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+

In [55]:
df_flights = df_flights.withColumn("qa_year_month_day", 
                                   when(check_empty_column('day'), 'MD')
                                   .otherwise(df_flights.qa_year_month_day))

df_flights.filter(df_flights.qa_year_month_day == 'MD').show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+

In [56]:
df_flights = df_flights.withColumn("qa_year_month_day", 
                                   when(df_flights.year < 1950, 'IY')
                                   .otherwise(df_flights.qa_year_month_day))

df_flights.filter(df_flights.qa_year_month_day == 'IY').show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+

In [57]:
df_flights = df_flights.withColumn("qa_year_month_day", 
                                   when((df_flights.month < 1) | (df_flights.month > 12) , 'IM')
                                   .otherwise(df_flights.qa_year_month_day))

df_flights.filter(df_flights.qa_year_month_day == 'IM').show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+

In [58]:
df_flights = df_flights.withColumn("qa_year_month_day", 
                                   when((df_flights.day < 1) | 
                                        (df_flights.day > 31) |
                                        ((df_flights.month == 2) & ((df_flights.day < 1) | (df_flights.day > 29))), 'ID')
                                   .otherwise(df_flights.qa_year_month_day))

df_flights.filter(df_flights.qa_year_month_day == 'ID').show()




df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                year IS NULL OR year == ''
                                THEN 'MY'
                            WHEN
                                month IS NULL OR month == ''
                                THEN 'MM'
                            WHEN
                                day IS NULL OR day == ''
                                THEN 'MD'
                            WHEN
                                year < 1950
                                THEN 'IY'
                            WHEN 
                                month < 1 OR month > 12
                                THEN 'IM'
                            WHEN
                                day < 1 OR day > 31 OR
                                (month == 2 AND day > 29)
                            THEN 'ID'
                        END AS qa_year_month_day
                    FROM flights
""")

df1.filter(df1.qa_year_month_day.isin(['MY','MM','MD','IY','IM','ID'])).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+

#### Pergunta 2

In [59]:
df_flights = df_flights.withColumn("qa_hour_minute", 
                                   when(check_empty_column('hour') | col('hour').startswith('N'), 'MH')
                                  .when(check_empty_column('minute') | col('hour').startswith('N'), 'MM'))

df_flights.filter(df_flights.qa_hour_minute == 'MH').show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+
|2014|    3|  4|      NA|     null|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|null|  null|             null|            MH|
|2014|    2| 12|      NA|     null|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|null|  null|             null|            MH|
|2014|    7|  1|      NA|     null|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|null|  null|             null|            MH|
|2014|    4| 30|      NA|     null|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|null|  null|             null|            MH|
|2014|    1|  3|      NA|     null|      NA|     null|     US|     NA|   553|   SEA| PHL|    null|    2378|null|  null|             null|            MH|
|2014|    8|  7|      NA|     null|      NA|     null|     AS| N579AS|   867|   SEA| OGG|    null|    2640|null|  null|             null|            MH|
|2014|    8| 11|      NA|     null|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|null|  null|             null|            MH|
|2014|    1|  2|      NA|     null|      NA|     null|     UA|     NA|   212|   SEA| EWR|    null|    2402|null|  null|             null|            MH|
|2014|    5| 15|      NA|     null|      NA|     null|     OO| N917SW|  6250|   PDX| LAX|    null|     834|null|  null|             null|            MH|
|2014|    2|  7|      NA|     null|      NA|     null|     OO| N594SW|  5553|   PDX| SFO|    null|     550|null|  null|             null|            MH|
|2014|    6|  6|      NA|     null|      NA|     null|     WN| N645SW|   956|   PDX| OAK|    null|     543|null|  null|             null|            MH|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   758|   PDX| IAH|    null|    1825|null|  null|             null|            MH|
|2014|    1|  6|      NA|     null|      NA|     null|     UA|     NA|  1729|   SEA| DEN|    null|    1024|null|  null|             null|            MH|
|2014|    3| 30|      NA|     null|      NA|     null|     US|     NA|   500|   SEA| PHX|    null|    1107|null|  null|             null|            MH|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N580SW|  5438|   PDX| EUG|    null|     106|null|  null|             null|            MH|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N297SW|  5342|   SEA| PDX|    null|     129|null|  null|             null|            MH|
|2014|    1|  1|      NA|     null|      NA|     null|     OO| N295SW|  5403|   PDX| EUG|    null|     106|null|  null|             null|            MH|
|2014|    2| 17|      NA|     null|      NA|     null|     AA| N3LCAA|  1236|   SEA| ORD|    null|    1721|null|  null|             null|            MH|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   995|   PDX| SFO|    null|     550|null|  null|             null|            MH|
|2014|    5| 26|      NA|     null|      NA|     null|     UA|     NA|   690|   SEA| ORD|    null|    1721|null|  null|             null|            MH|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+
only showing top 20 rows

In [60]:
df_flights = df_flights.withColumn("qa_hour_minute", 
                                   when((df_flights.hour < 0) |
                                        (df_flights.hour > 23), 'IH')
                                   .otherwise(df_flights.qa_hour_minute))

df_flights.filter(df_flights.qa_hour_minute == 'IH').show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+
|2014|    6| 20|    2400|       10|     535|        0|     AA| N3GHAA|  2486|   SEA| ORD|     197|    1721|  24|     0|             null|            IH|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+

In [61]:
df_flights = df_flights.withColumn("qa_hour_minute", 
                                   when((df_flights.minute < 0) |
                                        (df_flights.minute > 59), 'IM')
                                   .otherwise(df_flights.qa_hour_minute))

df_flights.filter(df_flights.qa_hour_minute == 'IM').show()

df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                hour IS NULL OR hour == ''
                                THEN 'MH'
                            WHEN
                                minute is NULL OR minute == ''
                                THEN 'MM'
                            WHEN
                                hour < 0 OR hour > 23
                                THEN 'IH'
                            WHEN
                                minute < 0 OR minute > 59
                                THEN 'IM'
                            END AS qa_hour_minute
                        FROM flights
""")

df1.filter(df1.qa_hour_minute.isin(['MH','MM','IH','IM'])).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+--------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_hour_minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+--------------+
|2014|    3|  4|      NA|     null|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|null|  null|            MH|
|2014|    2| 12|      NA|     null|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|null|  null|            MH|
|2014|    7|  1|      NA|     null|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|null|  null|            MH|
|2014|    4| 30|      NA|     null|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|null|  null|            MH|
|2014|    1|  3|      NA|     null|      NA|     null|     US|     NA|   553|   SEA| PHL|    null|    2378|null|  null|            MH|
|2014|    8|  7|      NA|     null|      NA|     null|     AS| N579AS|   867|   SEA| OGG|    null|    2640|null|  null|            MH|
|2014|    8| 11|      NA|     null|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|null|  null|            MH|
|2014|    1|  2|      NA|     null|      NA|     null|     UA|     NA|   212|   SEA| EWR|    null|    2402|null|  null|            MH|
|2014|    5| 15|      NA|     null|      NA|     null|     OO| N917SW|  6250|   PDX| LAX|    null|     834|null|  null|            MH|
|2014|    2|  7|      NA|     null|      NA|     null|     OO| N594SW|  5553|   PDX| SFO|    null|     550|null|  null|            MH|
|2014|    6|  6|      NA|     null|      NA|     null|     WN| N645SW|   956|   PDX| OAK|    null|     543|null|  null|            MH|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   758|   PDX| IAH|    null|    1825|null|  null|            MH|
|2014|    1|  6|      NA|     null|      NA|     null|     UA|     NA|  1729|   SEA| DEN|    null|    1024|null|  null|            MH|
|2014|    3| 30|      NA|     null|      NA|     null|     US|     NA|   500|   SEA| PHX|    null|    1107|null|  null|            MH|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N580SW|  5438|   PDX| EUG|    null|     106|null|  null|            MH|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N297SW|  5342|   SEA| PDX|    null|     129|null|  null|            MH|
|2014|    1|  1|      NA|     null|      NA|     null|     OO| N295SW|  5403|   PDX| EUG|    null|     106|null|  null|            MH|
|2014|    2| 17|      NA|     null|      NA|     null|     AA| N3LCAA|  1236|   SEA| ORD|    null|    1721|null|  null|            MH|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   995|   PDX| SFO|    null|     550|null|  null|            MH|
|2014|    5| 26|      NA|     null|      NA|     null|     UA|     NA|   690|   SEA| ORD|    null|    1721|null|  null|            MH|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+--------------+
only showing top 20 rows

#### Pergunta 3

In [62]:
df_flights = df_flights.withColumn("qa_dep_arr", 
                                   when(check_empty_column('dep_time') |
                                        col('dep_time').startswith('N'), 'MD')
                                   .when(check_empty_column('arr_time') |
                                        col('arr_time').startswith('N'), 'MA')
                                   .when(
                                       ~df_flights.dep_time.rlike('^([0-1]?[0-9]|2[0-3])[0-5][0-9]$'),'FD')
                                   .when(
                                       ~df_flights.arr_time.rlike('^([0-1]?[0-9]|2[0-3])[0-5][0-9]$'),'FA')
                                  )

df_flights.filter(df_flights.qa_dep_arr == 'MD').show()
df_flights.filter(col('dep_time').rlike('^[^0-9]*$')).groupBy('dep_time').count().show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+
|2014|    3|  4|      NA|     null|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|null|  null|             null|            MH|        MD|
|2014|    2| 12|      NA|     null|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|null|  null|             null|            MH|        MD|
|2014|    7|  1|      NA|     null|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|null|  null|             null|            MH|        MD|
|2014|    4| 30|      NA|     null|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|null|  null|             null|            MH|        MD|
|2014|    1|  3|      NA|     null|      NA|     null|     US|     NA|   553|   SEA| PHL|    null|    2378|null|  null|             null|            MH|        MD|
|2014|    8|  7|      NA|     null|      NA|     null|     AS| N579AS|   867|   SEA| OGG|    null|    2640|null|  null|             null|            MH|        MD|
|2014|    8| 11|      NA|     null|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|null|  null|             null|            MH|        MD|
|2014|    1|  2|      NA|     null|      NA|     null|     UA|     NA|   212|   SEA| EWR|    null|    2402|null|  null|             null|            MH|        MD|
|2014|    5| 15|      NA|     null|      NA|     null|     OO| N917SW|  6250|   PDX| LAX|    null|     834|null|  null|             null|            MH|        MD|
|2014|    2|  7|      NA|     null|      NA|     null|     OO| N594SW|  5553|   PDX| SFO|    null|     550|null|  null|             null|            MH|        MD|
|2014|    6|  6|      NA|     null|      NA|     null|     WN| N645SW|   956|   PDX| OAK|    null|     543|null|  null|             null|            MH|        MD|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   758|   PDX| IAH|    null|    1825|null|  null|             null|            MH|        MD|
|2014|    1|  6|      NA|     null|      NA|     null|     UA|     NA|  1729|   SEA| DEN|    null|    1024|null|  null|             null|            MH|        MD|
|2014|    3| 30|      NA|     null|      NA|     null|     US|     NA|   500|   SEA| PHX|    null|    1107|null|  null|             null|            MH|        MD|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N580SW|  5438|   PDX| EUG|    null|     106|null|  null|             null|            MH|        MD|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N297SW|  5342|   SEA| PDX|    null|     129|null|  null|             null|            MH|        MD|
|2014|    1|  1|      NA|     null|      NA|     null|     OO| N295SW|  5403|   PDX| EUG|    null|     106|null|  null|             null|            MH|        MD|
|2014|    2| 17|      NA|     null|      NA|     null|     AA| N3LCAA|  1236|   SEA| ORD|    null|    1721|null|  null|             null|            MH|        MD|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   995|   PDX| SFO|    null|     550|null|  null|             null|            MH|        MD|
|2014|    5| 26|      NA|     null|      NA|     null|     UA|     NA|   690|   SEA| ORD|    null|    1721|null|  null|             null|            MH|        MD|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+
only showing top 20 rows

+--------+-----+
|dep_time|count|
+--------+-----+
|      NA|   48|
+--------+-----+

In [63]:
df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                dep_time IS NULL or dep_time == ''
                                THEN 'MD'
                            WHEN
                                arr_time IS NULL OR arr_time == ''
                                THEN 'MA'
                            WHEN
                                dep_time NOT rlike '^([0-1]?[0-9]|2[0-3])[0-5][0-9]$'
                                THEN 'FD'
                            WHEN
                                arr_time NOT rlike '^([0-1]?[0-9]|2[0-3])[0-5][0-9]$'
                                THEN 'FA'
                        END AS qa_dep_arr
                    FROM flights
""")

df1.filter(df1.qa_dep_arr.isin(['MD','MA','FD','FA'])).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_dep_arr|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
|2014|    6|  2|    2222|        7|      55|       15|     AS| N402AS|    99|   SEA| ANC|     190|    1448|  22|    22|        FA|
|2014|    7|  5|    2224|       -1|      48|      -20|     AS| N459AS|   143|   PDX| ANC|     185|    1542|  22|    24|        FA|
|2014|   12| 17|    2234|      223|      11|      212|     UA| N39450|  1596|   PDX| SFO|      76|     550|  22|    34|        FA|
|2014|    3| 10|    2222|      -13|      55|      -30|     AS| N431AS|   143|   PDX| ANC|     203|    1542|  22|    22|        FA|
|2014|    7| 29|       1|        2|     600|        6|     UA| N458UA|   280|   PDX| IAH|     217|    1825|   0|     1|        FD|
|2014|    8| 11|    2233|       33|      45|       17|     DL| N391DA|  1086|   SEA| ANC|     174|    1448|  22|    33|        FA|
|2014|    3| 17|      26|       -4|     518|      -19|     DL| N539US|  2446|   SEA| MSP|     153|    1399|   0|    26|        FD|
|2014|    6| 27|      46|        1|     552|       -1|     DL| N126DL|  2440|   SEA| MSP|     166|    1399|   0|    46|        FD|
|2014|    9| 26|    2339|      144|      29|      142|     OO| N822SK|  4612|   SEA| PDX|      29|     129|  23|    39|        FA|
|2014|    3|  4|      NA|     null|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|null|  null|        FD|
|2014|    2| 12|      NA|     null|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|null|  null|        FD|
|2014|    7|  1|      NA|     null|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|null|  null|        FD|
|2014|    1| 17|    2219|       -6|      49|      -36|     AS| N564AS|   145|   PDX| ANC|     186|    1542|  22|    19|        FA|
|2014|   10| 15|      29|       -1|     538|       -2|     DL| N3736C|  2440|   SEA| MSP|     159|    1399|   0|    29|        FD|
|2014|    1| 30|      49|       79|     835|       72|     UA| N76010|  1252|   SEA| EWR|     261|    2402|   0|    49|        FD|
|2014|   11| 16|    1603|       10|       2|       -8|     UA| N87531|  1710|   SEA| EWR|     274|    2402|  16|     3|        FA|
|2014|    4| 30|      NA|     null|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|null|  null|        FD|
|2014|    4| 15|      24|       34|     300|       31|     AS| N764AS|   121|   SEA| ANC|     203|    1448|   0|    24|        FD|
|2014|    3| 14|    2231|       96|      42|       78|     AS| N706AS|   534|   SEA| ONT|     116|     956|  22|    31|        FA|
|2014|    6| 13|      15|       -5|     800|      -16|     US| N151UW|  1818|   SEA| CLT|     261|    2279|   0|    15|        FD|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
only showing top 20 rows

#### Pergunta 4

In [64]:
df_flights = df_flights.withColumn("qa_dep_arr_delay", 
                                   when(check_empty_column('dep_delay') |
                                        col('dep_delay').startswith('N'), 'MD')
                                   .when(check_empty_column('arr_delay') |
                                        col('arr_delay').startswith('N'), 'MA'))

df_flights.filter(df_flights.qa_dep_arr_delay == 'MD').show()
print(df_flights.filter(col('dep_delay').isNull()).count())
print(df_flights.filter(col('arr_delay').isNull()).count())
df_flights.filter(col('dep_delay').rlike('^[^0-9]*$')).groupBy('dep_delay').count().show(100)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+
|2014|    3|  4|      NA|     null|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|null|  null|             null|            MH|        MD|              MD|
|2014|    2| 12|      NA|     null|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|null|  null|             null|            MH|        MD|              MD|
|2014|    7|  1|      NA|     null|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|null|  null|             null|            MH|        MD|              MD|
|2014|    4| 30|      NA|     null|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|null|  null|             null|            MH|        MD|              MD|
|2014|    1|  3|      NA|     null|      NA|     null|     US|     NA|   553|   SEA| PHL|    null|    2378|null|  null|             null|            MH|        MD|              MD|
|2014|    8|  7|      NA|     null|      NA|     null|     AS| N579AS|   867|   SEA| OGG|    null|    2640|null|  null|             null|            MH|        MD|              MD|
|2014|    8| 11|      NA|     null|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|null|  null|             null|            MH|        MD|              MD|
|2014|    1|  2|      NA|     null|      NA|     null|     UA|     NA|   212|   SEA| EWR|    null|    2402|null|  null|             null|            MH|        MD|              MD|
|2014|    5| 15|      NA|     null|      NA|     null|     OO| N917SW|  6250|   PDX| LAX|    null|     834|null|  null|             null|            MH|        MD|              MD|
|2014|    2|  7|      NA|     null|      NA|     null|     OO| N594SW|  5553|   PDX| SFO|    null|     550|null|  null|             null|            MH|        MD|              MD|
|2014|    6|  6|      NA|     null|      NA|     null|     WN| N645SW|   956|   PDX| OAK|    null|     543|null|  null|             null|            MH|        MD|              MD|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   758|   PDX| IAH|    null|    1825|null|  null|             null|            MH|        MD|              MD|
|2014|    1|  6|      NA|     null|      NA|     null|     UA|     NA|  1729|   SEA| DEN|    null|    1024|null|  null|             null|            MH|        MD|              MD|
|2014|    3| 30|      NA|     null|      NA|     null|     US|     NA|   500|   SEA| PHX|    null|    1107|null|  null|             null|            MH|        MD|              MD|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N580SW|  5438|   PDX| EUG|    null|     106|null|  null|             null|            MH|        MD|              MD|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N297SW|  5342|   SEA| PDX|    null|     129|null|  null|             null|            MH|        MD|              MD|
|2014|    1|  1|      NA|     null|      NA|     null|     OO| N295SW|  5403|   PDX| EUG|    null|     106|null|  null|             null|            MH|        MD|              MD|
|2014|    2| 17|      NA|     null|      NA|     null|     AA| N3LCAA|  1236|   SEA| ORD|    null|    1721|null|  null|             null|            MH|        MD|              MD|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   995|   PDX| SFO|    null|     550|null|  null|             null|            MH|        MD|              MD|
|2014|    5| 26|      NA|     null|      NA|     null|     UA|     NA|   690|   SEA| ORD|    null|    1721|null|  null|             null|            MH|        MD|              MD|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+
only showing top 20 rows

48
75
+---------+-----+
|dep_delay|count|
+---------+-----+
+---------+-----+

In [65]:
df_flights.filter(df_flights.qa_dep_arr_delay == 'MA').show()


df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                dep_delay IS NULL OR dep_delay == ''
                                THEN 'MD'
                            WHEN
                                arr_delay IS NULL OR arr_delay == ''
                                THEN 'MA'
                        END AS qa_dep_arr_delay
                    FROM flights
""")

df_flights.filter(col('arr_delay').rlike('^[^0-9]*$')).groupBy('arr_delay').count().show(100)
df1.filter(df1.qa_dep_arr_delay.isin(['MD','MA'])).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+
|2014|    4|  6|    1329|        4|    2159|     null|     DL| N130DL|  1929|   SEA| ATL|    null|    2182|  13|    29|             null|          null|      null|              MA|
|2014|   12| 27|    1420|       40|    2012|     null|     OO| N224AG|  3452|   SEA| HDN|    null|     891|  14|    20|             null|          null|      null|              MA|
|2014|    6| 11|    1054|       -9|    1624|     null|     OO| N926SW|  5576|   PDX| DEN|    null|     991|  10|    54|             null|          null|      null|              MA|
|2014|    2|  6|    2238|        8|      NA|     null|     OO| N297SW|  5437|   PDX| LMT|    null|     241|  22|    38|             null|          null|        MA|              MA|
|2014|    4| 15|     652|       -8|    1754|     null|     DL| N378DA|   400|   PDX| JFK|    null|    2454|   6|    52|             null|          null|      null|              MA|
|2014|    5| 24|    1455|       55|    2212|     null|     UA| N37409|  1635|   SEA| IAH|    null|    1874|  14|    55|             null|          null|      null|              MA|
|2014|    8| 17|    1840|       -5|    2245|     null|     AS| N615AS|   510|   SEA| SNA|    null|     978|  18|    40|             null|          null|      null|              MA|
|2014|    3| 25|    2242|       -3|     210|     null|     OO| N298SW|  5437|   PDX| LMT|    null|     241|  22|    42|             null|          null|      null|              MA|
|2014|    4| 30|    1303|        3|    1758|     null|     AS| N755AS|   552|   SEA| PSP|    null|     987|  13|     3|             null|          null|      null|              MA|
|2014|    6| 21|    1325|       20|    2110|     null|     WN| N478WN|  4163|   SEA| STL|    null|    1709|  13|    25|             null|          null|      null|              MA|
|2014|    7|  2|     651|       -9|    1853|     null|     AA| N3HXAA|   236|   SEA| JFK|    null|    2422|   6|    51|             null|          null|      null|              MA|
|2014|    6| 18|    1541|       11|    2212|     null|     WN| N694SW|  4713|   SEA| DEN|    null|    1024|  15|    41|             null|          null|      null|              MA|
|2014|    1| 14|    1547|       52|      NA|     null|     AS| N525AS|    67|   SEA| KTN|    null|     680|  15|    47|             null|          null|        MA|              MA|
|2014|   11| 30|     658|       -2|    1303|     null|     DL|  N3759|   991|   SEA| LAX|    null|     954|   6|    58|             null|          null|      null|              MA|
|2014|    5| 12|    1324|        9|    2350|     null|     AA| N3CTAA|   115|   PDX| ORD|    null|    1739|  13|    24|             null|          null|      null|              MA|
|2014|    2|  8|    2252|      127|      NA|     null|     AS| N706AS|   574|   PDX| SAN|    null|     933|  22|    52|             null|          null|        MA|              MA|
|2014|   12| 10|     753|       18|      NA|     null|     AS| N765AS|    61|   SEA| JNU|    null|     909|   7|    53|             null|          null|        MA|              MA|
|2014|    8| 12|    1503|        3|      NA|     null|     AS| N612AS|   650|   SEA| PHX|    null|    1107|  15|     3|             null|          null|        MA|              MA|
|2014|    4| 29|     550|      -10|    1407|     null|     AA| N3BWAA|  2240|   SEA| ORD|    null|    1721|   5|    50|             null|          null|      null|              MA|
|2014|    9| 27|    1154|       -1|    1920|     null|     WN| N495WN|  1375|   PDX| PHX|    null|    1009|  11|    54|             null|          null|      null|              MA|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+
only showing top 20 rows

+---------+-----+
|arr_delay|count|
+---------+-----+
+---------+-----+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_dep_arr_delay|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------------+
|2014|    4|  6|    1329|        4|    2159|     null|     DL| N130DL|  1929|   SEA| ATL|    null|    2182|  13|    29|              MA|
|2014|    3|  4|      NA|     null|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|null|  null|              MD|
|2014|    2| 12|      NA|     null|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|null|  null|              MD|
|2014|    7|  1|      NA|     null|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|null|  null|              MD|
|2014|   12| 27|    1420|       40|    2012|     null|     OO| N224AG|  3452|   SEA| HDN|    null|     891|  14|    20|              MA|
|2014|    4| 30|      NA|     null|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|null|  null|              MD|
|2014|    1|  3|      NA|     null|      NA|     null|     US|     NA|   553|   SEA| PHL|    null|    2378|null|  null|              MD|
|2014|    6| 11|    1054|       -9|    1624|     null|     OO| N926SW|  5576|   PDX| DEN|    null|     991|  10|    54|              MA|
|2014|    8|  7|      NA|     null|      NA|     null|     AS| N579AS|   867|   SEA| OGG|    null|    2640|null|  null|              MD|
|2014|    8| 11|      NA|     null|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|null|  null|              MD|
|2014|    2|  6|    2238|        8|      NA|     null|     OO| N297SW|  5437|   PDX| LMT|    null|     241|  22|    38|              MA|
|2014|    1|  2|      NA|     null|      NA|     null|     UA|     NA|   212|   SEA| EWR|    null|    2402|null|  null|              MD|
|2014|    5| 15|      NA|     null|      NA|     null|     OO| N917SW|  6250|   PDX| LAX|    null|     834|null|  null|              MD|
|2014|    2|  7|      NA|     null|      NA|     null|     OO| N594SW|  5553|   PDX| SFO|    null|     550|null|  null|              MD|
|2014|    4| 15|     652|       -8|    1754|     null|     DL| N378DA|   400|   PDX| JFK|    null|    2454|   6|    52|              MA|
|2014|    6|  6|      NA|     null|      NA|     null|     WN| N645SW|   956|   PDX| OAK|    null|     543|null|  null|              MD|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   758|   PDX| IAH|    null|    1825|null|  null|              MD|
|2014|    1|  6|      NA|     null|      NA|     null|     UA|     NA|  1729|   SEA| DEN|    null|    1024|null|  null|              MD|
|2014|    3| 30|      NA|     null|      NA|     null|     US|     NA|   500|   SEA| PHX|    null|    1107|null|  null|              MD|
|2014|    5| 24|    1455|       55|    2212|     null|     UA| N37409|  1635|   SEA| IAH|    null|    1874|  14|    55|              MA|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------------+
only showing top 20 rows

#### Pergunta 5

In [66]:
df_flights = df_flights.withColumn("qa_carrier", 
                                   when(check_empty_column('carrier'), 'M'))

df_flights.filter(df_flights.qa_carrier == 'M').show()
df_flights.filter(df_flights.carrier.startswith('NA')).show()
df_flights.groupBy('carrier').count().show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+

+-------+-----+
|carrier|count|
+-------+-----+
|     UA| 1051|
|     AA|  482|
|     B6|  214|
|     DL| 1082|
|     OO| 1186|
|     F9|  181|
|     US|  367|
|     HA|   73|
|     AS| 3784|
|     VX|  186|
|     WN| 1394|
+-------+-----+

In [67]:
import time

inicio = time.time()
df_flights = df_flights.withColumn("qa_carrier", 
                                   when(~df_flights.carrier.rlike('^([0-9]|[A-Z]|[a-z]){2}$'),'F')
                                   .otherwise(df_flights.qa_carrier))

df_flights.filter(df_flights.qa_carrier == 'F').show()




df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                carrier IS NULL OR carrier == ''
                                THEN 'M'
                            WHEN
                                carrier NOT rlike '^([0-9]|[A-Z]|[a-z]){2}$'
                                THEN 'F'
                        END AS qa_carrier
                    FROM flights
""")

df1.filter(df1.qa_carrier.isin(['M','F'])).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_carrier|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+

#### Pergunta 6

In [68]:
df_flights = df_flights.withColumn("qa_tailnum", 
                                   when(check_empty_column('tailnum'), 'M')
                                  .when(~length(df_flights.tailnum).between(5,6), 'S')
                                  .when(~df_flights.tailnum.startswith('N'),'FN')
                                  .when(df_flights.tailnum.rlike('I|O|N0'),'FE')
                                  .when(
                                       ~df_flights.tailnum.rlike('^N[1-9][0-9]{2,3}([ABCDEFGHJKLMNPQRSTUVXWYZ]{1,2})')
                                       ,'F'))

df_flights.filter(df_flights.qa_tailnum.isin(['S','FN','FE','F'])).groupBy('qa_tailnum').count().show()

+----------+-----+
|qa_tailnum|count|
+----------+-----+
|         F|  987|
|         S|   14|
|        FN|    2|
+----------+-----+

In [69]:
df1 = spark.sql("""SELECT *,
                        CASE
                            WHEN
                                tailnum IS NULL OR tailnum == ''
                                THEN 'M'
                            WHEN 
                                tailnum NOT LIKE 'N%'
                                THEN 'FN'
                            WHEN
                                 tailnum LIKE '%I%' OR tailnum LIKE '%O%' OR tailnum LIKE 'N0'
                                 THEN 'FE'
                            WHEN
                                length(tailnum) <> 5
                                THEN 'S'
                            WHEN 
                                tailnum NOT rlike 'N[1-9][0-9]*2Z$|N[0-9]*2[A-Z][A-Z]$'
                                THEN 'F'
                        END AS qa_tailnum
                    FROM flights
""")
df1.filter(df1.qa_tailnum.isin(['M','S','F','FN','FE'])).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_tailnum|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|         S|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|         S|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|         S|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|         S|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|         S|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|         S|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|         S|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|         S|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|         S|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|         S|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|         S|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|         S|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|         S|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|         S|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|         S|
|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|     9|         S|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|         S|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|         S|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|         S|
|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|         S|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
only showing top 20 rows

#### Pergunta 7

In [70]:
df_flights = df_flights.withColumn("qa_flight", 
                                   when(check_empty_column('flight'), 'M'))

df_flights.filter(df_flights.qa_flight == 'M').show()
df_flights.filter(col('flight').rlike('^[^0-9]*$')).groupBy('flight').count().show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|qa_tailnum|qa_flight|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+

+------+-----+
|flight|count|
+------+-----+
+------+-----+

In [71]:
df_flights = df_flights.withColumn("qa_flight", 
                                   when(~df_flights.flight.rlike('^[0-9]{4}$'), 'F')
                                   .otherwise(df_flights.qa_flight))

df_flights.filter(df_flights.qa_flight == 'F').show()


df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                flight IS NULL OR flight == ''
                                THEN 'M'
                            WHEN
                                flight NOT rlike '^[0-9]{4}$'
                                THEN 'F'
                        END AS qa_flight
                    FROM flights
""")

df1.filter(df1.qa_flight.isin(['M','F'])).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|qa_tailnum|qa_flight|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|             null|          null|      null|            null|      null|      null|        F|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|             null|          null|      null|            null|      null|      null|        F|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|             null|          null|      null|            null|      null|      null|        F|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|             null|          null|      null|            null|      null|      null|        F|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|             null|          null|      null|            null|      null|      null|        F|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|             null|          null|      null|            null|      null|      null|        F|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|             null|          null|      null|            null|      null|      null|        F|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|             null|          null|      null|            null|      null|      null|        F|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|             null|          null|      null|            null|      null|      null|        F|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|             null|          null|      null|            null|      null|      null|        F|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|             null|          null|      null|            null|      null|      null|        F|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|             null|          null|      null|            null|      null|      null|        F|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|             null|          null|      null|            null|      null|      null|        F|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|             null|          null|      null|            null|      null|      null|        F|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|             null|          null|      null|            null|      null|      null|        F|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|             null|          null|      null|            null|      null|      null|        F|
|2014|    7| 27|    2105|       15|    2316|       21|     AS| N519AS|   300|   SEA| SFO|     106|     679|  21|     5|             null|          null|      null|            null|      null|      null|        F|
|2014|    9| 26|     610|       -5|    1523|       65|     US| N127UW|   616|   SEA| PHL|     293|    2378|   6|    10|             null|          null|      null|            null|      null|      null|        F|
|2014|   12| 30|    1305|       70|    1525|       86|     AS| N520AS|   306|   SEA| SFO|     117|     679|  13|     5|             null|          null|      null|            null|      null|      null|        F|
|2014|   12|  4|     954|       -6|    1348|      -17|     HA| N395HA|    29|   SEA| OGG|     333|    2640|   9|    54|             null|          null|      null|            null|      null|      null|        F|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+
only showing top 20 rows

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+---------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_flight|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+---------+
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|        F|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|        F|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|        F|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|        F|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|        F|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|        F|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|        F|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|        F|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|        F|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|        F|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|        F|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|        F|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|        F|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|        F|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|        F|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|        F|
|2014|    7| 27|    2105|       15|    2316|       21|     AS| N519AS|   300|   SEA| SFO|     106|     679|  21|     5|        F|
|2014|    9| 26|     610|       -5|    1523|       65|     US| N127UW|   616|   SEA| PHL|     293|    2378|   6|    10|        F|
|2014|   12| 30|    1305|       70|    1525|       86|     AS| N520AS|   306|   SEA| SFO|     117|     679|  13|     5|        F|
|2014|   12|  4|     954|       -6|    1348|      -17|     HA| N395HA|    29|   SEA| OGG|     333|    2640|   9|    54|        F|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+---------+
only showing top 20 rows

#### Pergunta 8

In [72]:
df_flights = df_flights.withColumn("qa_origin_dest", 
                                   when(check_empty_column('origin'), 'MO'))

df_flights.filter(df_flights.qa_origin_dest == 'MO').show()
df_flights.groupBy('origin').count().show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|qa_tailnum|qa_flight|qa_origin_dest|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+

+------+-----+
|origin|count|
+------+-----+
|   SEA| 6754|
|   PDX| 3246|
+------+-----+

In [73]:
df_flights = df_flights.withColumn("qa_origin_dest", 
                                   when(check_empty_column('dest'), 'MD')
                                   .otherwise(df_flights.qa_origin_dest))

df_flights.filter(df_flights.qa_origin_dest == 'MD').show()
df_flights.groupBy('dest').count().show(100)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|qa_tailnum|qa_flight|qa_origin_dest|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+

+----+-----+
|dest|count|
+----+-----+
| MSY|    9|
| GEG|  105|
| BUR|  137|
| SNA|  198|
| EUG|   41|
| OAK|  334|
| DCA|   69|
| RDM|   54|
| KTN|   77|
| LIH|   37|
| IAH|  226|
| HNL|  143|
| SJC|  369|
| CVG|    5|
| AUS|   31|
| LGB|  175|
| RNO|   21|
| BOS|  129|
| EWR|  143|
| LAS|  520|
| FAI|   80|
| DEN|  586|
| SBA|   46|
| PSP|   48|
| IAD|   92|
| BOI|    7|
| SEA|  144|
| MCI|   45|
| CLT|   78|
| BNA|    9|
| BLI|    5|
| ABQ|   57|
| CLE|    2|
| PDX|  157|
| MIA|   19|
| TPA|   11|
| BWI|   34|
| SMF|  283|
| PHX|  530|
| STL|   25|
| DFW|  371|
| HDN|    4|
| LMT|   10|
| SFO|  787|
| ATL|  258|
| FLL|   29|
| OMA|   25|
| FAT|   47|
| ORD|  439|
| MKE|   16|
| TUS|   50|
| MDW|   86|
| COS|   26|
| JNU|   77|
| KOA|   52|
| DTW|  123|
| HOU|   22|
| ONT|  128|
| LAX|  615|
| MSP|  238|
| SIT|    6|
| MCO|   31|
| SAN|  271|
| ANC|  449|
| JFK|  173|
| PHL|   81|
| OGG|   91|
| SLC|  396|
| SAT|   18|
+----+-----+

In [74]:
df_flights = df_flights.withColumn("qa_origin_dest", 
                                   when(~df_flights.origin.rlike('^([0-9]|[A-Z]|[a-z]){3}$'),'FO')
                                   .otherwise(df_flights.qa_origin_dest))

df_flights.filter(df_flights.qa_origin_dest == 'FO').show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|qa_tailnum|qa_flight|qa_origin_dest|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+

In [75]:
df_flights = df_flights.withColumn("qa_origin_dest", 
                                   when(~df_flights.dest.rlike('^([0-9]|[A-Z]|[a-z]){3}$'),'FD')
                                   .otherwise(df_flights.qa_origin_dest))

df_flights.filter(df_flights.qa_origin_dest == 'FD').show()


df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                origin IS NULL OR origin == ''
                                THEN 'MO'
                            WHEN 
                                dest IS NULL OR dest == ''
                                THEN 'MD'
                            WHEN
                                origin NOT rlike '^([0-9]|[A-Z]|[a-z]){3}$'
                                THEN 'FO'
                            WHEN
                                dest NOT rlike '^([0-9]|[A-Z]|[a-z]){3}$'
                                THEN 'FD'
                        END AS qa_origin_dest
                    FROM flights
""")

df1.filter(df1.qa_origin_dest.isin(['MO','MD','FO','FD'])).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|qa_tailnum|qa_flight|qa_origin_dest|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+--------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_origin_dest|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+--------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+--------------+

#### Pergunta 9

In [76]:
df_flights = df_flights.withColumn("qa_air_time", 
                                   when(check_empty_column('air_time') |
                                        col('air_time').startswith('N'),'M'))

df_flights.filter(df_flights.qa_air_time == 'M').show()
df_flights.filter(col('air_time').rlike('^[^0-9]*$')).groupBy('air_time').count().show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|qa_tailnum|qa_flight|qa_origin_dest|qa_air_time|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+
|2014|    4|  6|    1329|        4|    2159|     null|     DL| N130DL|  1929|   SEA| ATL|    null|    2182|  13|    29|             null|          null|      null|              MA|      null|      null|     null|          null|          M|
|2014|    3|  4|      NA|     null|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|null|  null|             null|            MH|        MD|              MD|      null|         S|        F|          null|          M|
|2014|    2| 12|      NA|     null|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|null|  null|             null|            MH|        MD|              MD|      null|      null|        F|          null|          M|
|2014|    7|  1|      NA|     null|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|null|  null|             null|            MH|        MD|              MD|      null|      null|     null|          null|          M|
|2014|   12| 27|    1420|       40|    2012|     null|     OO| N224AG|  3452|   SEA| HDN|    null|     891|  14|    20|             null|          null|      null|              MA|      null|      null|     null|          null|          M|
|2014|    4| 30|      NA|     null|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|null|  null|             null|            MH|        MD|              MD|      null|      null|        F|          null|          M|
|2014|    1|  3|      NA|     null|      NA|     null|     US|     NA|   553|   SEA| PHL|    null|    2378|null|  null|             null|            MH|        MD|              MD|      null|         S|        F|          null|          M|
|2014|    6| 11|    1054|       -9|    1624|     null|     OO| N926SW|  5576|   PDX| DEN|    null|     991|  10|    54|             null|          null|      null|              MA|      null|      null|     null|          null|          M|
|2014|    8|  7|      NA|     null|      NA|     null|     AS| N579AS|   867|   SEA| OGG|    null|    2640|null|  null|             null|            MH|        MD|              MD|      null|      null|        F|          null|          M|
|2014|    8| 11|      NA|     null|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|null|  null|             null|            MH|        MD|              MD|      null|      null|     null|          null|          M|
|2014|    2|  6|    2238|        8|      NA|     null|     OO| N297SW|  5437|   PDX| LMT|    null|     241|  22|    38|             null|          null|        MA|              MA|      null|      null|     null|          null|          M|
|2014|    1|  2|      NA|     null|      NA|     null|     UA|     NA|   212|   SEA| EWR|    null|    2402|null|  null|             null|            MH|        MD|              MD|      null|         S|        F|          null|          M|
|2014|    5| 15|      NA|     null|      NA|     null|     OO| N917SW|  6250|   PDX| LAX|    null|     834|null|  null|             null|            MH|        MD|              MD|      null|      null|     null|          null|          M|
|2014|    2|  7|      NA|     null|      NA|     null|     OO| N594SW|  5553|   PDX| SFO|    null|     550|null|  null|             null|            MH|        MD|              MD|      null|      null|     null|          null|          M|
|2014|    4| 15|     652|       -8|    1754|     null|     DL| N378DA|   400|   PDX| JFK|    null|    2454|   6|    52|             null|          null|      null|              MA|      null|      null|        F|          null|          M|
|2014|    6|  6|      NA|     null|      NA|     null|     WN| N645SW|   956|   PDX| OAK|    null|     543|null|  null|             null|            MH|        MD|              MD|      null|      null|        F|          null|          M|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   758|   PDX| IAH|    null|    1825|null|  null|             null|            MH|        MD|              MD|      null|         S|        F|          null|          M|
|2014|    1|  6|      NA|     null|      NA|     null|     UA|     NA|  1729|   SEA| DEN|    null|    1024|null|  null|             null|            MH|        MD|              MD|      null|         S|     null|          null|          M|
|2014|    3| 30|      NA|     null|      NA|     null|     US|     NA|   500|   SEA| PHX|    null|    1107|null|  null|             null|            MH|        MD|              MD|      null|         S|        F|          null|          M|
|2014|    5| 24|    1455|       55|    2212|     null|     UA| N37409|  1635|   SEA| IAH|    null|    1874|  14|    55|             null|          null|      null|              MA|      null|         F|     null|          null|          M|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+
only showing top 20 rows

+--------+-----+
|air_time|count|
+--------+-----+
+--------+-----+

In [77]:
df_flights = df_flights.withColumn("qa_air_time", 
                                   when((df_flights.air_time < 20) | (df_flights.air_time > 500),'I')
                                   .otherwise(df_flights.qa_air_time))

df_flights.filter(df_flights.qa_air_time == 'I').show()


df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                air_time IS NULL OR air_time == ''
                                THEN 'M'
                            WHEN
                                air_time < 20 OR air_time > 500
                                THEN 'I'
                        END AS qa_air_time
                    FROM flights

""")

df1.filter(df1.qa_air_time.isin(['M','I'])).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|qa_tailnum|qa_flight|qa_origin_dest|qa_air_time|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_air_time|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------+
|2014|    4|  6|    1329|        4|    2159|     null|     DL| N130DL|  1929|   SEA| ATL|    null|    2182|  13|    29|          M|
|2014|    3|  4|      NA|     null|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|null|  null|          M|
|2014|    2| 12|      NA|     null|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|null|  null|          M|
|2014|    7|  1|      NA|     null|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|null|  null|          M|
|2014|   12| 27|    1420|       40|    2012|     null|     OO| N224AG|  3452|   SEA| HDN|    null|     891|  14|    20|          M|
|2014|    4| 30|      NA|     null|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|null|  null|          M|
|2014|    1|  3|      NA|     null|      NA|     null|     US|     NA|   553|   SEA| PHL|    null|    2378|null|  null|          M|
|2014|    6| 11|    1054|       -9|    1624|     null|     OO| N926SW|  5576|   PDX| DEN|    null|     991|  10|    54|          M|
|2014|    8|  7|      NA|     null|      NA|     null|     AS| N579AS|   867|   SEA| OGG|    null|    2640|null|  null|          M|
|2014|    8| 11|      NA|     null|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|null|  null|          M|
|2014|    2|  6|    2238|        8|      NA|     null|     OO| N297SW|  5437|   PDX| LMT|    null|     241|  22|    38|          M|
|2014|    1|  2|      NA|     null|      NA|     null|     UA|     NA|   212|   SEA| EWR|    null|    2402|null|  null|          M|
|2014|    5| 15|      NA|     null|      NA|     null|     OO| N917SW|  6250|   PDX| LAX|    null|     834|null|  null|          M|
|2014|    2|  7|      NA|     null|      NA|     null|     OO| N594SW|  5553|   PDX| SFO|    null|     550|null|  null|          M|
|2014|    4| 15|     652|       -8|    1754|     null|     DL| N378DA|   400|   PDX| JFK|    null|    2454|   6|    52|          M|
|2014|    6|  6|      NA|     null|      NA|     null|     WN| N645SW|   956|   PDX| OAK|    null|     543|null|  null|          M|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   758|   PDX| IAH|    null|    1825|null|  null|          M|
|2014|    1|  6|      NA|     null|      NA|     null|     UA|     NA|  1729|   SEA| DEN|    null|    1024|null|  null|          M|
|2014|    3| 30|      NA|     null|      NA|     null|     US|     NA|   500|   SEA| PHX|    null|    1107|null|  null|          M|
|2014|    5| 24|    1455|       55|    2212|     null|     UA| N37409|  1635|   SEA| IAH|    null|    1874|  14|    55|          M|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------+
only showing top 20 rows

#### Pergunta 10

In [78]:
df_flights = df_flights.withColumn("qa_distance", 
                                   when(check_empty_column('distance'),'M'))

df_flights.filter(df_flights.qa_distance == 'M').show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+-----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|qa_tailnum|qa_flight|qa_origin_dest|qa_air_time|qa_distance|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+-----------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+-----------+

In [79]:
df_flights = df_flights.withColumn("qa_distance", 
                                   when((df_flights.distance < 50) | (df_flights.distance > 3000),'I')
                                   .otherwise(df_flights.qa_distance))

df_flights.filter(df_flights.qa_distance == 'I').show()


df1 = spark.sql("""
                    SELECT *,
                        CASE
                            WHEN
                                distance IS NULL OR distance == ''
                                THEN 'M'
                            WHEN
                                distance < 50 OR distance > 3000
                                THEN 'I'
                        END AS qa_distance
                    FROM flights

""")

df1.filter(df1.qa_distance.isin(['M','I'])).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+-----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_year_month_day|qa_hour_minute|qa_dep_arr|qa_dep_arr_delay|qa_carrier|qa_tailnum|qa_flight|qa_origin_dest|qa_air_time|qa_distance|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+-----------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------------+--------------+----------+----------------+----------+----------+---------+--------------+-----------+-----------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_distance|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-----------+

#### Pergunta 11

In [80]:
df_flights = df_flights.withColumn("qa_distance_airtime", 
                                   when(check_empty_column('distance') |
                                       check_empty_column('air_time'), 'M')
                                   .when(col("air_time") >= (col("distance") * 0.1) + 30, 'TL')
                                   .when(col("air_time") <= (col("distance") * 0.1) + 10, 'TS')
                                   .otherwise('TR'))

#df_flights.filter(df_flights.qa_distance_airtime == 'M').show()
df_flights.filter(col('distance').rlike('^[^0-9]*$')).groupBy('distance').count().show()

+--------+-----+
|distance|count|
+--------+-----+
+--------+-----+

In [81]:
df1 = spark.sql("""
                    SELECT *,
                        CASE 
                            WHEN 
                                air_time IS NULL OR
                                air_time == '' OR 
                                distance IS NULL OR 
                                distance == '' 
                                THEN 'M'
                            WHEN
                                air_time >= (distance * 0.1) + 30
                                THEN 'TL'
                                ELSE
                                    CASE 
                                        WHEN
                                            air_time <= (distance * 0.1) + 10
                                            THEN 'TS'
                                            ELSE 'TR'
                                    END
                        END AS qa_distance_airtime
                    FROM flights
""")

df1.filter(df1.qa_distance_airtime == 'TR').show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|qa_distance_airtime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|                 TR|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|                 TR|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|                 TR|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|                 TR|
|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|                 TR|
|2014|    8| 19|    1845|       -5|    2112|      -22|     DL| N354NW|  2642|   SEA| LAX|     119|     954|  18|    45|                 TR|
|2014|    8| 19|    1222|        5|    1419|       -1|     OO| N825SK|  4623|   SEA| SJC|      90|     697|  12|    22|                 TR|
|2014|   10| 29|     643|        3|     851|        2|     OO| N218AG|  3456|   PDX| BUR|     108|     817|   6|    43|                 TR|
|2014|    6|  5|    1133|       38|    1247|       32|     WN| N793SA|  1617|   PDX| RNO|      61|     444|  11|    33|                 TR|
|2014|    9| 28|    1848|       -7|    2044|       -9|     OO| N217AG|  3490|   SEA| FAT|      98|     748|  18|    48|                 TR|
|2014|   12| 14|     633|       -7|     841|       -9|     OO| N951SW|  3456|   PDX| BUR|     107|     817|   6|    33|                 TR|
|2014|    8| 24|    1646|       21|    1901|        1|     B6| N606JB|  1007|   SEA| LGB|     121|     965|  16|    46|                 TR|
|2014|    6|  4|    1115|        0|    1346|       -3|     AS| N461AS|   488|   SEA| SAN|     133|    1050|  11|    15|                 TR|
|2014|   11| 29|     905|      155|    1655|      170|     DL| N824DN|  1598|   SEA| ATL|     229|    2182|   9|     5|                 TR|
|2014|    7| 25|     948|       -2|    1229|      -10|     OO| N223AG|  3492|   PDX| SLC|      85|     630|   9|    48|                 TR|
|2014|    8| 30|    2004|       26|    2325|       22|     F9| N204FR|   794|   PDX| DEN|     120|     991|  20|     4|                 TR|
|2014|   11| 15|    1034|       -6|    1414|      -26|     AS| N589AS|   794|   SEA| ABQ|     139|    1180|  10|    34|                 TR|
|2014|   11| 15|    1858|        8|    2107|        2|     AS| N587AS|   616|   SEA| LAS|     106|     867|  18|    58|                 TR|
|2014|   11| 19|    1319|       -6|    1821|      -14|     DL| N309US|  2164|   PDX| MSP|     169|    1426|  13|    19|                 TR|
|2014|    9| 29|    1003|       58|    1222|       45|     US| N157UW|   630|   PDX| PHX|     125|    1009|  10|     3|                 TR|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
only showing top 20 rows

In [82]:
df_flights_qa = df_flights.select("origin",
                                  "dest",
                                  "tailnum",
                                  "qa_year_month_day",
                                 "qa_hour_minute",
                                 "qa_dep_arr",
                                 "qa_dep_arr_delay",
                                 "qa_carrier",
                                 "qa_tailnum",
                                 "qa_flight",
                                 "qa_origin_dest",
                                 "qa_air_time",
                                 "qa_distance",
                                 "qa_distance_airtime")
                                 
df_flights_qa.write.mode('overwrite').parquet('output/flights_qa.parquet')