In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [3]:
# Expressoes regulares comuns
REGEX_NOT_NUM = r'^[^0-9]*$'

In [4]:
# Criar o contexto do spark
sc = SparkContext()

# Instancia o criador de sessao do spark
spark = (SparkSession.builder
                     .master("local[7]")
                     .appName("Aceleração PySpark - Capgemini")
                    ).getOrCreate()

In [5]:
def split_csv(line):
    return tuple(map(lambda x: x.replace('"',''), line.split(",")))

In [6]:
schema_airports = StructType([
    StructField("faa",  StringType(),  True),
    StructField("name", StringType(),  True),
    StructField("lat",  FloatType(),   True),
    StructField("lon",  FloatType(),   True),
    StructField("alt",  IntegerType(), True),
    StructField("tz",   FloatType(), True),
    StructField("dst",  StringType(),  True)
])

schema_planes = StructType([
    StructField("tailnum",      StringType(),  True),
    StructField("year",         IntegerType(), True),
    StructField("type",         StringType(),  True),
    StructField("manufacturer", StringType(),  True),
    StructField("model",        StringType(),  True),
    StructField("engines",      IntegerType(), True),
    StructField("seats",        IntegerType(), True),
    StructField("speed",        IntegerType(), True),
    StructField("engine",       StringType(),  True)
])

schema_flights = StructType([
    StructField("year",      IntegerType(), True),
    StructField("month",     IntegerType(), True),
    StructField("day",       IntegerType(), True),
    StructField("dep_time",  StringType(),  True),
    StructField("dep_delay", IntegerType(), True),
    StructField("arr_time",  StringType(),  True),
    StructField("arr_delay", IntegerType(), True),
    StructField("carrier",   StringType(),  True),
    StructField("tailnum",   StringType(),  True),
    StructField("flight",    StringType(),  True),
    StructField("origin",    StringType(),  True),
    StructField("dest",      StringType(),  True),
    StructField("air_time",  IntegerType(), True),
    StructField("distance",  IntegerType(), True),
    StructField("hour",      IntegerType(), True),
    StructField("minute",    IntegerType(), True),
])

In [7]:
#voltar
df_airports = (spark.read
                  .format("csv")
                  .option("header", "true")
                  .schema(schema_airports)
                  .load("data/airports.csv"))

df_planes = (spark.read
                  .format("csv")
                  .option("header", "true")
                  .schema(schema_planes)
                  .load("data/planes.csv"))

df_flights = (spark.read
                  .format("csv")
                  .option("header", "true")
                  .schema(schema_flights)
                  .load("data/flights.csv"))

In [8]:
rdd_airports = sc.textFile("/airports.csv")
rdd_planes   = sc.textFile("data/planes.csv")

In [9]:
# armazena a primeira linha do arquivo como referencia
header_airports = rdd_airports.first()
header_planes   = rdd_planes.first()

# Remove a primeira linha do arquivo
rdd_airports = rdd_airports.filter(lambda line: line != header_airports).map(split_csv)
rdd_planes   = rdd_planes.filter(lambda   line: line != header_planes).map(split_csv)

## Airports Dataset

### Pergunta 1

In [10]:
df_airports.filter(F.col('alt') < 0 ).show()
df_airports = df_airports.withColumn("alt", 
                                     F.when(F.col("alt") < 0 , 0)
                                     .otherwise(F.col("alt"))
                                    )

df_airports.filter(F.col('alt') < 0 ).show()

+---+-------------+---------+----------+---+----+---+
|faa|         name|      lat|       lon|alt|  tz|dst|
+---+-------------+---------+----------+---+----+---+
|IPL|  Imperial Co| 32.83422|-115.57874|-54|-8.0|  A|
|NJK|El Centro Naf|32.829224|-115.67167|-42|-8.0|  A|
+---+-------------+---------+----------+---+----+---+

+---+----+---+---+---+---+---+
|faa|name|lat|lon|alt| tz|dst|
+---+----+---+---+---+---+---+
+---+----+---+---+---+---+---+

 **Utilizando RDD**

In [11]:
%%time
def alt(row):
    if (int(row[4]) < 0):
        row = (row[0], row[1], row[2], row[3], 0, row[5], row[6])
    return row

rdd_airports = rdd_airports.map(alt)
rdd_airports.take(6)

Wall time: 776 ms

[('04G', 'Lansdowne Airport', '41.1304722', '-80.6195833', '1044', '-5', 'A'),
 ('06A',
  'Moton Field Municipal Airport',
  '32.4605722',
  '-85.6800278',
  '264',
  '-5',
  'A'),
 ('06C', 'Schaumburg Regional', '41.9893408', '-88.1012428', '801', '-6', 'A'),
 ('06N', 'Randall Airport', '41.431912', '-74.3915611', '523', '-5', 'A'),
 ('09J',
  'Jekyll Island Airport',
  '31.0744722',
  '-81.4277778',
  '11',
  '-4',
  'A'),
 ('0A9',
  'Elizabethton Municipal Airport',
  '36.3712222',
  '-82.1734167',
  '1593',
  '-4',
  'A')]

### Pergunta 2

In [12]:
df_airports.filter(F.col('tz').between(-7,-5)).show()
print(df_airports.filter(F.col('tz').between(-7,-5)).count())
print(df_airports.filter(F.col('dst') == 'A').count())

df_airports = df_airports.withColumn("dst", 
                                    F.when(F.col("tz").between(-7,-5), 'A')
                                   .otherwise(F.col("dst")))

df_airports.filter((F.col('tz').between(-7,-5)) & (F.col('dst') != 'A')).show()
print(df_airports.filter(F.col('dst') == 'A').count())

+---+--------------------+---------+----------+----+----+---+
|faa|                name|      lat|       lon| alt|  tz|dst|
+---+--------------------+---------+----------+----+----+---+
|04G|   Lansdowne Airport|41.130474| -80.61958|1044|-5.0|  A|
|06A|Moton Field Munic...| 32.46057| -85.68003| 264|-5.0|  A|
|06C| Schaumburg Regional| 41.98934| -88.10124| 801|-6.0|  A|
|06N|     Randall Airport| 41.43191| -74.39156| 523|-5.0|  A|
|0G6|Williams County A...|41.467304|-84.506775| 730|-5.0|  A|
|0G7|Finger Lakes Regi...|42.883564|-76.781235| 492|-5.0|  A|
|0P2|Shoestring Aviati...|39.794823|-76.647194|1000|-5.0|  U|
|0W3|Harford County Ai...|39.566837|  -76.2024| 409|-5.0|  A|
|10C|  Galt Field Airport| 42.40289|-88.375114| 875|-6.0|  U|
|17G|Port Bucyrus-Craw...|40.781555| -82.97481|1003|-5.0|  A|
|1B9| Mansfield Municipal|42.000134| -71.19677| 122|-5.0|  A|
|1CS|Clow Internationa...|41.695976|-88.129234| 670|-6.0|  U|
|1OH|     Fortman Airport|40.555325| -84.38662| 885|-5.0|  U|
|1RL|Point Roberts Air...| 48.97972|-123.07889|  10|-7.0|  A|
|24C| Lowell City Airport| 42.95392|  -85.3439| 681|-5.0|  A|
|24J|Suwannee County A...|30.300125|  -83.0247| 104|-5.0|  A|
|25D| Forest Lake Airport|45.247746|-92.994385| 925|-5.0|  A|
|29D|  Grove City Airport|41.146027| -80.16775|1371|-5.0|  A|
|2G9|Somerset County A...| 40.03887| -79.01499|2275|-5.0|  A|
|2J9|Quincy Municipal ...| 30.59787| -84.55743| 225|-5.0|  A|
+---+--------------------+---------+----------+----+----+---+
only showing top 20 rows

923
1329
+---+----+---+---+---+---+---+
|faa|name|lat|lon|alt| tz|dst|
+---+----+---+---+---+---+---+
+---+----+---+---+---+---+---+

1380

**Utilizando RDD**

In [13]:
def tz_replace_dst(row):
    if (-5 >= int(row[5]) >= -7 ) :
        row = row[:6] + ('A',)
    return row

rdd_airports = rdd_airports.map(tz_replace_dst)
rdd_airports.take(6)

[('04G', 'Lansdowne Airport', '41.1304722', '-80.6195833', '1044', '-5', 'A'),
 ('06A',
  'Moton Field Municipal Airport',
  '32.4605722',
  '-85.6800278',
  '264',
  '-5',
  'A'),
 ('06C', 'Schaumburg Regional', '41.9893408', '-88.1012428', '801', '-6', 'A'),
 ('06N', 'Randall Airport', '41.431912', '-74.3915611', '523', '-5', 'A'),
 ('09J',
  'Jekyll Island Airport',
  '31.0744722',
  '-81.4277778',
  '11',
  '-4',
  'A'),
 ('0A9',
  'Elizabethton Municipal Airport',
  '36.3712222',
  '-82.1734167',
  '1593',
  '-4',
  'A')]

### Pergunta 3

In [14]:
print(df_airports.filter(F.col('dst') == 'U').count())
df_airports.filter(F.col('dst') == 'U').show()

df_airports = df_airports.withColumn("dst", 
                                     F.when(F.col("dst") == 'U', 'A')
                                     .otherwise(F.col("dst")))

df_airports.filter(F.col('dst') == 'U').show()
print(df_airports.filter(F.col('dst') == 'U').count())
print(df_airports.filter(F.col('dst') == 'A').count())

8
+---+--------------------+---------+----------+----+-----+---+
|faa|                name|      lat|       lon| alt|   tz|dst|
+---+--------------------+---------+----------+----+-----+---+
|19A|Jackson County Ai...|34.175865|  -83.5616| 951| -4.0|  U|
|BLD|Boulder City Muni...|  35.5651|  -114.514|2201| -8.0|  U|
|GCW|Grand Canyon West...|  35.5925| -113.4859|4825| -8.0|  U|
|MXY|    McCarthy Airport| 61.43706|-142.90308|1531| -8.0|  U|
|NGZ|         NAS Alameda|  37.7861| -122.3186|  10| -9.0|  U|
|SWD|      Seward Airport|60.126938|-149.41881|  22| -8.0|  U|
|SXQ|    Soldotna Airport|60.474957|-151.03824| 113| -8.0|  U|
|WWT|      Newtok Airport|60.939167|-164.64111|  25|-10.0|  U|
+---+--------------------+---------+----------+----+-----+---+

+---+----+---+---+---+---+---+
|faa|name|lat|lon|alt| tz|dst|
+---+----+---+---+---+---+---+
+---+----+---+---+---+---+---+

0
1388

In [15]:
#rdd

def dst(row):
    if(row[6] == 'U'):
        row = row[:6] + ('A',)
    return row

rdd_airports = rdd_airports.map(dst)
rdd_airports.take(6)

[('04G', 'Lansdowne Airport', '41.1304722', '-80.6195833', '1044', '-5', 'A'),
 ('06A',
  'Moton Field Municipal Airport',
  '32.4605722',
  '-85.6800278',
  '264',
  '-5',
  'A'),
 ('06C', 'Schaumburg Regional', '41.9893408', '-88.1012428', '801', '-6', 'A'),
 ('06N', 'Randall Airport', '41.431912', '-74.3915611', '523', '-5', 'A'),
 ('09J',
  'Jekyll Island Airport',
  '31.0744722',
  '-81.4277778',
  '11',
  '-4',
  'A'),
 ('0A9',
  'Elizabethton Municipal Airport',
  '36.3712222',
  '-82.1734167',
  '1593',
  '-4',
  'A')]

### Pergunta 4

In [16]:
df_airports = df_airports.withColumn("region", 
                                    F.when(F.col("lon") < -124, 'ALASKA')
                                     .when((F.col("lon") > -50) | (F.col("lat") < 24),'OFFSHORE')
                                     .when( F.col("lon").between(-124,-95), 'MAINLAND-WEST')
                                     .when( F.col("lon").between(-95, -50), 'MAINLAND-EAST')
                                     .otherwise('NaN'))

df_airports.groupBy('region').count().show()

+-------------+-----+
|       region|count|
+-------------+-----+
|       ALASKA|  261|
|     OFFSHORE|    4|
|MAINLAND-EAST|  696|
|MAINLAND-WEST|  436|
+-------------+-----+

### Pergunta 5

In [17]:
AP_LIST = [ "Airport", "Tradeport", "Heliport", "Airpor","Arpt"]
REGEX_AP = r'|'.join(map(lambda word: f'.*(^| ){word}( |$).*', AP_LIST))

df_airports = df_airports.withColumn("type",
                                    F.when(F.col("name").rlike(REGEX_AP), 'AP')
                                     .when(F.col("name").contains("Aerodrome"), 'AD')
                                     .when(F.col("name").contains("Airpark") | F.col("name").contains("Aero Park"), 'AK')
                                     .when(F.col("name").contains("Station") | F.col("name").contains("Air Station"), 'AS')
                                     .when(F.col("name").contains("Field")| F.col("name").contains("Fld"), 'FL')
                                     .otherwise('NaN'))

df_airports.groupBy('type').count().show()
df_airports.filter(F.col('type') == 'NaN').show()

+----+-----+
|type|count|
+----+-----+
|  AD|    1|
| NaN|  666|
|  AS|   19|
|  FL|   85|
|  AK|   12|
|  AP|  614|
+----+-----+

+---+--------------------+---------+-----------+----+----+---+-------------+----+
|faa|                name|      lat|        lon| alt|  tz|dst|       region|type|
+---+--------------------+---------+-----------+----+----+---+-------------+----+
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801|-6.0|  A|MAINLAND-EAST| NaN|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000|-5.0|  A|MAINLAND-EAST| NaN|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108|-8.0|  A|MAINLAND-WEST| NaN|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122|-5.0|  A|MAINLAND-EAST| NaN|
|3G3| Wadsworth Municipal| 41.00316|  -81.75644| 974|-5.0|  A|MAINLAND-EAST| NaN|
|49X|   Chemehuevi Valley| 34.52889| -114.43197| 638|-8.0|  A|MAINLAND-WEST| NaN|
|4U9|   Dell Flight Strip| 44.73575| -112.72002|6007|-7.0|  A|MAINLAND-WEST| NaN|
|6S2|            Florence| 43.98282| -124.11137|  51|-7.0|  A|       ALASKA| NaN|
|ABE|  Lehigh Valley Intl|40.652084|   -75.4408| 393|-5.0|  A|MAINLAND-EAST| NaN|
|ABI|        Abilene Rgnl| 32.41132|   -99.6819|1791|-6.0|  A|MAINLAND-WEST| NaN|
|ABQ|Albuquerque Inter...|35.040222| -106.60919|5355|-7.0|  A|MAINLAND-WEST| NaN|
|ACK|       Nantucket Mem| 41.25305|  -70.06018|  48|-5.0|  A|MAINLAND-EAST| NaN|
|ACT|           Waco Rgnl|31.611288|  -97.23052| 516|-6.0|  A|MAINLAND-WEST| NaN|
|ACV|              Arcata| 40.97811| -124.10861| 221|-8.0|  A|       ALASKA| NaN|
|ACY|  Atlantic City Intl|39.457584|  -74.57716|  75|-5.0|  A|MAINLAND-EAST| NaN|
|ADM|        Ardmore Muni|34.300835|  -97.00889| 762|-6.0|  A|MAINLAND-WEST| NaN|
|ADQ|              Kodiak|57.749966| -152.49385|  78|-9.0|  A|       ALASKA| NaN|
|ADS|             Addison| 32.96856|  -96.83645| 644|-5.0|  A|MAINLAND-WEST| NaN|
|ADW|         Andrews Afb|38.810806|  -76.86703| 280|-5.0|  A|MAINLAND-EAST| NaN|
|AEX|     Alexandria Intl|  31.3274| -92.549835|  89|-6.0|  A|MAINLAND-EAST| NaN|
+---+--------------------+---------+-----------+----+----+---+-------------+----+
only showing top 20 rows

### Pergunta 6

In [18]:
MILITARY_LIST = ["Base", "Aaf", "AFs", "Ahp", "Afb", "LRRS", "Lrrs", "Arb",
                 "Naf", "NAS", "Nas", "Jrb", "Ns", "As", "Cgas", "Angb"]

REGEX_MILITARY = r'|'.join(map(lambda word: f'.*(^| ){word}( |$).*', MILITARY_LIST))

df_airports = df_airports.withColumn("military",
                                     F.when(F.col("name").rlike(REGEX_MILITARY), True)
                                     .otherwise(False))

df_airports.groupBy('military').count().show()
df_airports.printSchema()

+--------+-----+
|military|count|
+--------+-----+
|    true|  160|
|   false| 1237|
+--------+-----+

root
 |-- faa: string (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lon: float (nullable = true)
 |-- alt: integer (nullable = true)
 |-- tz: float (nullable = true)
 |-- dst: string (nullable = true)
 |-- region: string (nullable = false)
 |-- type: string (nullable = false)
 |-- military: boolean (nullable = false)

### Pergunta 7

In [19]:
REGEX_ADMINISTRATION = {'I': None, 'N': None, 'R' : None, 'M' : None}
REGEX_ADMINISTRATION_LIST = [
    ["International", "Intl", "Intercontinental"],
    ["National", "Natl"],
    [ "Regional", "Reigonal", "Rgnl", "County", "Metro", "Metropolitan"],
    ["Municipal", "Muni", "City"]
]

for key, lista in zip(REGEX_ADMINISTRATION, REGEX_ADMINISTRATION_LIST):
    REGEX_ADMINISTRATION[key] = r'|'.join(map(lambda word: f'.*(^| ){word}( |$).*', lista))

df_airports = df_airports.withColumn("administration", 
                                     F.when(F.col('name').rlike(REGEX_ADMINISTRATION['I']), 'I')
                                    .when(F.col('name').rlike(REGEX_ADMINISTRATION['N']), 'N')
                                    .when(F.col('name').rlike(REGEX_ADMINISTRATION['R']), 'R')
                                    .when(F.col('name').rlike(REGEX_ADMINISTRATION['M']), 'M')
                                    .otherwise('NaN'))

df_airports.groupBy('administration').count().show()

+--------------+-----+
|administration|count|
+--------------+-----+
|             M|  179|
|             N|    5|
|             R|  281|
|           NaN|  768|
|             I|  164|
+--------------+-----+

## Dataset Planes

### Pergunta 1

In [20]:
df_planes = df_planes.withColumn("tailchar", 
                                 F.when(df_planes.tailnum.rlike('[A-Z]{2}$'),df_planes.tailnum.substr(-2,6))
                                 .when(df_planes.tailnum.rlike('[A-Z]$'), df_planes.tailnum.substr(-1,6)))
df_planes.select('tailnum','tailchar').filter(F.col('tailchar').isNull()).show()

df_planes.select('tailnum','tailchar').filter(F.length(F.col('tailnum')) == 5).show()

+-------+--------+
|tailnum|tailchar|
+-------+--------+
| N11206|    null|
| N12114|    null|
| N12216|    null|
| N12218|    null|
| N12221|    null|
| N12225|    null|
| N12238|    null|
| N13248|    null|
| N13716|    null|
| N13718|    null|
| N14214|    null|
| N14219|    null|
| N14228|    null|
| N14230|    null|
| N14231|    null|
| N14237|    null|
| N14242|    null|
| N14250|    null|
| N14704|    null|
| N14731|    null|
+-------+--------+
only showing top 20 rows

+-------+--------+
|tailnum|tailchar|
+-------+--------+
|  N1602|    null|
|  N1603|    null|
|  N1605|    null|
|  N1608|    null|
|  N1609|    null|
|  N3752|    null|
|  N3753|    null|
|  N3756|    null|
|  N3759|    null|
|  N3765|    null|
|  N3766|    null|
|  N3767|    null|
|  N3768|    null|
|  N6700|    null|
|  N6701|    null|
|  N6702|    null|
|  N6709|    null|
|  N704X|       X|
|  N744P|       P|
+-------+--------+

### Pergunta 2

In [21]:
df_planes.filter(df_planes.year == 0).show()

df_planes = df_planes.withColumn("year", 
                                 F.when(df_planes.year == 0, 1996)
                                 .otherwise(df_planes.year))

df_planes.filter(df_planes.year == 0).show()

+-------+----+--------------------+------------+---------+-------+-----+-----+----------+--------+
|tailnum|year|                type|manufacturer|    model|engines|seats|speed|    engine|tailchar|
+-------+----+--------------------+------------+---------+-------+-----+-----+----------+--------+
| N235SW|   0|Fixed wing multi ...|     EMBRAER|EMB-120ER|      2|   32| null|Turbo-prop|      SW|
+-------+----+--------------------+------------+---------+-------+-----+-----+----------+--------+

+-------+----+----+------------+-----+-------+-----+-----+------+--------+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|tailchar|
+-------+----+----+------------+-----+-------+-----+-----+------+--------+
+-------+----+----+------------+-----+-------+-----+-----+------+--------+

### Pergunta 3

In [22]:
from pyspark.sql.window import Window

w = Window.partitionBy("manufacturer", "model").orderBy(F.col("manufacturer"), F.col("model"), F.col("year"))
w2 = Window.partitionBy("manufacturer").orderBy(F.col("manufacturer"), F.col("model"), F.col("year"))

df_planes.filter((F.col('model').like('A321-211') ) & (F.col('manufacturer').like('AIRBUS'))).orderBy('year').show()
df_planes.filter((F.col('model').like('737-824') ) & (F.col('manufacturer').like('BOEING'))).orderBy('year').show()


df_planes_year_not_null = df_planes.select('model','year','manufacturer').filter(df_planes.year.isNotNull())
df_planes_year_reference = df_planes_year_not_null.withColumn("row",F.row_number().over(w))
df_planes_year_reference.show()


df_planes_year_reference = (df_planes_year_reference
           .filter(df_planes_year_reference.row == 1)
           .drop("row")
          )
df_planes_year_reference = (df_planes_year_reference
           .withColumnRenamed("year","year_1")
           .withColumnRenamed("manufacturer","manufacturer_1")
          .withColumnRenamed("model","model_1"))

df_planes_1 = df_planes.join(df_planes_year_reference, 
                             (df_planes.manufacturer == df_planes_year_reference.manufacturer_1) &
                            (df_planes.model == df_planes_year_reference.model_1),
                             "left")

df_planes_year_reference = df_planes_year_not_null.withColumn("row",F.row_number().over(w2))
df_planes_year_reference = df_planes_year_reference.filter(df_planes_year_reference.row == 1).drop("row")
df_planes_year_reference = (df_planes_year_reference
           .withColumnRenamed("year","year_2")
           .withColumnRenamed("manufacturer","manufacturer_2")
            .withColumnRenamed("model", "model_2")
          )
df_planes_1 = df_planes_1.join(df_planes_year_reference, 
                               df_planes_1.manufacturer == df_planes_year_reference.manufacturer_2,
                               "left")

df_planes_1 = df_planes_1.withColumn("year",
                                     F.when(df_planes_1.year.isNull(), df_planes_1.year_1)
                                     .otherwise(df_planes_1.year))
df_planes_1 = df_planes_1.withColumn("year",
                                    F.when(df_planes_1.year.isNull(),df_planes_1.year_2)
                                     .otherwise(df_planes_1.year))

df_planes = df_planes_1.drop("year_1", "year_2",'model_1','model_2','manufacturer_1','manufacturer_2')


df_planes.filter(df_planes.year.isNull()).show()
df_planes.groupBy('manufacturer').count().show()
df_planes.filter(df_planes.tailnum.isin(['N194UW','N33292'])).show()
df_planes.count()

+-------+----+--------------------+------------+--------+-------+-----+-----+---------+--------+
|tailnum|year|                type|manufacturer|   model|engines|seats|speed|   engine|tailchar|
+-------+----+--------------------+------------+--------+-------+-----+-----+---------+--------+
| N194UW|null|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N188US|2002|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      US|
| N187US|2002|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      US|
| N186US|2002|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      US|
| N193UW|2008|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N195UW|2008|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N196UW|2009|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N197UW|2009|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N150UW|2013|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N151UW|2013|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N153UW|2013|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N157UW|2013|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N152UW|2013|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N154UW|2013|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N155UW|2013|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N198UW|2013|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N199UW|2013|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N156UW|2013|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
+-------+----+--------------------+------------+--------+-------+-----+-----+---------+--------+

+-------+----+--------------------+------------+-------+-------+-----+-----+---------+--------+
|tailnum|year|                type|manufacturer|  model|engines|seats|speed|   engine|tailchar|
+-------+----+--------------------+------------+-------+-------+-----+-----+---------+--------+
| N76503|null|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N33292|null|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N76505|null|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N73278|null|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N76514|null|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N12216|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N12221|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N12218|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N12225|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N14214|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N16217|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N18223|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N24212|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N26210|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N26226|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N14219|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N18220|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N24211|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N24224|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
| N26215|1998|Fixed wing multi ...|      BOEING|737-824|      2|  149| null|Turbo-fan|    null|
+-------+----+--------------------+------------+-------+-------+-----+-----+---------+--------+
only showing top 20 rows

+--------+----+------------+---+
|   model|year|manufacturer|row|
+--------+----+------------+---+
|A319-111|2002|      AIRBUS|  1|
|A319-111|2002|      AIRBUS|  2|
|A319-111|2002|      AIRBUS|  3|
|A319-111|2003|      AIRBUS|  4|
|A319-111|2003|      AIRBUS|  5|
|A319-111|2003|      AIRBUS|  6|
|A319-111|2003|      AIRBUS|  7|
|A319-111|2003|      AIRBUS|  8|
|A319-111|2003|      AIRBUS|  9|
|A319-111|2003|      AIRBUS| 10|
|A319-111|2004|      AIRBUS| 11|
|A319-111|2004|      AIRBUS| 12|
|A319-111|2004|      AIRBUS| 13|
|A319-111|2004|      AIRBUS| 14|
|A319-111|2004|      AIRBUS| 15|
|A319-111|2004|      AIRBUS| 16|
|A319-111|2004|      AIRBUS| 17|
|A319-111|2004|      AIRBUS| 18|
|A319-111|2004|      AIRBUS| 19|
|A319-111|2006|      AIRBUS| 20|
+--------+----+------------+---+
only showing top 20 rows

+-------+----+--------------------+---------------+-------------+-------+-----+-----+-------------+--------+
|tailnum|year|                type|   manufacturer|        model|engines|seats|speed|       engine|tailchar|
+-------+----+--------------------+---------------+-------------+-------+-----+-----+-------------+--------+
| N528AA|null|Fixed wing single...|LAMBERT RICHARD|    FALCON XP|      1|    2| null|Reciprocating|      AA|
| N531JB|null|Fixed wing single...|  BARKER JACK L|ZODIAC 601HDS|      1|    2| null|Reciprocating|      JB|
+-------+----+--------------------+---------------+-------------+-------+-----+-----+-------------+--------+

+--------------------+-----+
|        manufacturer|count|
+--------------------+-----+
|       BARKER JACK L|    1|
|    AIRBUS INDUSTRIE|  401|
|ROBINSON HELICOPT...|    1|
|            SIKORSKY|    1|
|              BOEING| 1460|
|             EMBRAER|   37|
|  CIRRUS DESIGN CORP|    1|
|          MARZ BARRY|    1|
|              CESSNA|    4|
|     LAMBERT RICHARD|    1|
|      BOMBARDIER INC|  214|
|               PIPER|    2|
|                BELL|    1|
|MCDONNELL DOUGLAS...|    2|
|   MCDONNELL DOUGLAS|   94|
|        KILDALL GARY|    1|
|            CANADAIR|    8|
|              AIRBUS|  397|
|GULFSTREAM AEROSPACE|    1|
+--------------------+-----+

+-------+----+--------------------+------------+--------+-------+-----+-----+---------+--------+
|tailnum|year|                type|manufacturer|   model|engines|seats|speed|   engine|tailchar|
+-------+----+--------------------+------------+--------+-------+-----+-----+---------+--------+
| N194UW|2002|Fixed wing multi ...|      AIRBUS|A321-211|      2|  199| null|Turbo-fan|      UW|
| N33292|1998|Fixed wing multi ...|      BOEING| 737-824|      2|  149| null|Turbo-fan|    null|
+-------+----+--------------------+------------+--------+-------+-----+-----+---------+--------+

2628

### Pergunta 4

In [23]:
from datetime import datetime

hoje = datetime.now()
ano_atual = hoje.year

df_planes = df_planes.withColumn("age", ano_atual - df_planes.year)
df_planes.show()
df_planes.filter(df_planes.age.isNull()).show()

+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+---+
|tailnum|year|                type|    manufacturer|   model|engines|seats|speed|   engine|tailchar|age|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+---+
| N102UW|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 24|
| N103US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N104UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N105UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N107US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N108UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N109UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N110UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N111US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N11206|2000|Fixed wing multi ...|          BOEING| 737-824|      2|  149| null|Turbo-fan|    null| 22|
| N112US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N113UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N114UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N117UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 22|
| N118US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 22|
| N119US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 22|
| N1200K|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       K| 24|
| N1201P|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       P| 24|
| N12114|1995|Fixed wing multi ...|          BOEING| 757-224|      2|  178| null|Turbo-jet|    null| 27|
| N121DE|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|      DE| 35|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+---+
only showing top 20 rows

+-------+----+--------------------+---------------+-------------+-------+-----+-----+-------------+--------+----+
|tailnum|year|                type|   manufacturer|        model|engines|seats|speed|       engine|tailchar| age|
+-------+----+--------------------+---------------+-------------+-------+-----+-----+-------------+--------+----+
| N528AA|null|Fixed wing single...|LAMBERT RICHARD|    FALCON XP|      1|    2| null|Reciprocating|      AA|null|
| N531JB|null|Fixed wing single...|  BARKER JACK L|ZODIAC 601HDS|      1|    2| null|Reciprocating|      JB|null|
+-------+----+--------------------+---------------+-------------+-------+-----+-----+-------------+--------+----+

### Pergunta 5

In [24]:
df_planes = df_planes.withColumn("type", 
                                 F.when(df_planes.type.startswith('Ro'), 'ROTORCRAFT')
                                 .when(df_planes.type.endswith('multi engine'), 'MULTI_ENG')
                                .when(df_planes.type.endswith('single engine'), 'SINGLE_ENG')
                                .otherwise(df_planes.type))
df_planes.select('type').groupBy('type').count().show()

+----------+-----+
|      type|count|
+----------+-----+
|SINGLE_ENG|   10|
| MULTI_ENG| 2615|
|ROTORCRAFT|    3|
+----------+-----+

### Pergunta 6

In [25]:
df_planes.select('manufacturer').groupBy("manufacturer").count().orderBy("manufacturer").show()

df_planes = df_planes.withColumn("manufacturer", 
                                 F.when(df_planes.manufacturer.startswith('AIR'),'AIRBUS')
                                 .when(F.col('manufacturer').startswith('MCD'), 'MCDONNELL DOUGLAS')
                                 .when(F.col('manufacturer').startswith('BARKER'),'BARKER JACK')
                                 .when(F.col('manufacturer').startswith('BOM'), 'BOMBARDIER')
                                 .when(F.col('manufacturer').startswith('CIRR'),'CIRRUS')
                                 .when(F.col('manufacturer').startswith('GU'),'GULFSTREAM')
                                 .when(F.col('manufacturer').startswith('RO'),'ROBINSON HELICOPTER')
                                 .otherwise(df_planes.manufacturer))

df_planes.select('manufacturer').groupBy("manufacturer").count().orderBy("manufacturer").show()
df_planes.count()

+--------------------+-----+
|        manufacturer|count|
+--------------------+-----+
|              AIRBUS|  397|
|    AIRBUS INDUSTRIE|  401|
|       BARKER JACK L|    1|
|                BELL|    1|
|              BOEING| 1460|
|      BOMBARDIER INC|  214|
|            CANADAIR|    8|
|              CESSNA|    4|
|  CIRRUS DESIGN CORP|    1|
|             EMBRAER|   37|
|GULFSTREAM AEROSPACE|    1|
|        KILDALL GARY|    1|
|     LAMBERT RICHARD|    1|
|          MARZ BARRY|    1|
|   MCDONNELL DOUGLAS|   94|
|MCDONNELL DOUGLAS...|    2|
|               PIPER|    2|
|ROBINSON HELICOPT...|    1|
|            SIKORSKY|    1|
+--------------------+-----+

+-------------------+-----+
|       manufacturer|count|
+-------------------+-----+
|             AIRBUS|  798|
|        BARKER JACK|    1|
|               BELL|    1|
|             BOEING| 1460|
|         BOMBARDIER|  214|
|           CANADAIR|    8|
|             CESSNA|    4|
|             CIRRUS|    1|
|            EMBRAER|   37|
|         GULFSTREAM|    1|
|       KILDALL GARY|    1|
|    LAMBERT RICHARD|    1|
|         MARZ BARRY|    1|
|  MCDONNELL DOUGLAS|   96|
|              PIPER|    2|
|ROBINSON HELICOPTER|    1|
|           SIKORSKY|    1|
+-------------------+-----+

2628

### Pergunta 7

In [26]:
df_planes.filter((F.col('model').contains('(')) | (F.col('model').contains(')'))).show()


df_planes = df_planes.withColumn("model", 
                                 F.when(F.col('model').contains('('), 
                                       F.regexp_replace('model',r'\(([^()]*)\)',''))
                                 .when(F.col('model').contains(')'), 
                                       F.regexp_replace('model',r'\(([^()]*)\)',''))
                                 .otherwise(F.col('model')))


df_planes.filter((F.col('model').contains('(')) | (F.col('model').contains(')'))).show()
df_planes.filter(F.col('model').contains('DC-9-82')).show()

+-------+----+---------+-----------------+--------------+-------+-----+-----+---------+--------+---+
|tailnum|year|     type|     manufacturer|         model|engines|seats|speed|   engine|tailchar|age|
+-------+----+---------+-----------------+--------------+-------+-----+-----+---------+--------+---+
| N426AA|1986|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 36|
| N434AA|1987|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-83(MD-83)|      2|  172| null|Turbo-fan|      AA| 35|
| N436AA|1987|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-83(MD-83)|      2|  172| null|Turbo-fan|      AA| 35|
| N437AA|1987|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-83(MD-83)|      2|  172| null|Turbo-fan|      AA| 35|
| N438AA|1987|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-83(MD-83)|      2|  172| null|Turbo-fan|      AA| 35|
| N439AA|1987|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-83(MD-83)|      2|  172| null|Turbo-fan|      AA| 35|
| N456AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N467AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N468AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N470AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N472AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N473AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N476AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N477AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N478AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N480AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N481AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N486AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N487AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 34|
| N490AA|1989|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82(MD-82)|      2|  172| null|Turbo-fan|      AA| 33|
+-------+----+---------+-----------------+--------------+-------+-----+-----+---------+--------+---+
only showing top 20 rows

+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|tailchar|age|
+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+
+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+

+-------+----+---------+-----------------+-------+-------+-----+-----+---------+--------+---+
|tailnum|year|     type|     manufacturer|  model|engines|seats|speed|   engine|tailchar|age|
+-------+----+---------+-----------------+-------+-------+-----+-----+---------+--------+---+
| N426AA|1986|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 36|
| N456AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N467AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N468AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N470AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N472AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N473AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N476AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N477AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N478AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N480AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N481AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N486AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N487AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 34|
| N490AA|1989|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 33|
| N496AA|1989|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 33|
| N499AA|1989|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 33|
| N513AA|1990|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 32|
| N553AA|1991|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 31|
| N554AA|1991|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82|      2|  172| null|Turbo-fan|      AA| 31|
+-------+----+---------+-----------------+-------+-------+-----+-----+---------+--------+---+
only showing top 20 rows

### Pergunta 8

In [27]:
df_planes.filter(F.col('speed').isNull()).show()
df_planes = df_planes.withColumn("speed", 
                                 F.when(F.col('speed').isNull(), F.ceil(F.col('seats')/0.36))
                                .otherwise(F.col('speed')))


df_planes.filter(F.col('speed').isNull()).show()
df_planes.filter(F.col('tailnum') == 'N102UW').show()

+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
|tailnum|year|     type|manufacturer|   model|engines|seats|speed|   engine|tailchar|age|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
| N102UW|1998|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 24|
| N103US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N104UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N105UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N107US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N108UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N109UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N110UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N111US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N11206|2000|MULTI_ENG|      BOEING| 737-824|      2|  149| null|Turbo-fan|    null| 22|
| N112US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N113UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N114UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N117UW|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 22|
| N118US|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 22|
| N119US|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 22|
| N1200K|1998|MULTI_ENG|      BOEING| 767-332|      2|  330| null|Turbo-fan|       K| 24|
| N1201P|1998|MULTI_ENG|      BOEING| 767-332|      2|  330| null|Turbo-fan|       P| 24|
| N12114|1995|MULTI_ENG|      BOEING| 757-224|      2|  178| null|Turbo-jet|    null| 27|
| N121DE|1987|MULTI_ENG|      BOEING| 767-332|      2|  330| null|Turbo-fan|      DE| 35|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
only showing top 20 rows

+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|tailchar|age|
+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+
+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+

+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
|tailnum|year|     type|manufacturer|   model|engines|seats|speed|   engine|tailchar|age|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
| N102UW|1998|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW| 24|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+

### Pergunta 9

In [28]:
df_planes.select('engine').distinct().show()

df_planes = df_planes.withColumn('engine_type',
                                F.when(F.col('engine').endswith('cle'), 'CYCLE')
                                 .when(F.col('engine').endswith('aft'), 'SHAFT')
                                 .when(F.col('engine').endswith('fan'), 'FAN')
                                .when(F.col('engine').endswith('jet'),'JET')
                                .when(F.col('engine').endswith('rop'),'PROP'))
df_planes.groupBy('engine_type').count().show()
df_planes.filter(F.col('engine_type').isNull()).show()

+-------------+
|       engine|
+-------------+
|    Turbo-jet|
|      4 Cycle|
|    Turbo-fan|
|   Turbo-prop|
|Reciprocating|
|  Turbo-shaft|
+-------------+

+-----------+-----+
|engine_type|count|
+-----------+-----+
|       PROP|   37|
|       null|   10|
|      CYCLE|    1|
|        FAN| 2127|
|        JET|  450|
|      SHAFT|    3|
+-----------+-----+

+-------+----+----------+---------------+-------------+-------+-----+-----+-------------+--------+----+-----------+
|tailnum|year|      type|   manufacturer|        model|engines|seats|speed|       engine|tailchar| age|engine_type|
+-------+----+----------+---------------+-------------+-------+-----+-----+-------------+--------+----+-----------+
| N201AA|1959|SINGLE_ENG|         CESSNA|          150|      1|    2|   90|Reciprocating|      AA|  63|       null|
| N202AA|1980| MULTI_ENG|         CESSNA|         421C|      2|    8|   90|Reciprocating|      AA|  42|       null|
| N425AA|1968|SINGLE_ENG|          PIPER|    PA-28-180|      1|    4|  107|Reciprocating|      AA|  54|       null|
| N508JB|2007|SINGLE_ENG|         CIRRUS|         SR22|      1|    4|   12|Reciprocating|      JB|  15|       null|
| N520AA|1985|SINGLE_ENG|   KILDALL GARY|    FALCON-XP|      1|    2|    6|Reciprocating|      AA|  37|       null|
| N528AA|null|SINGLE_ENG|LAMBERT RICHARD|    FALCON XP|      1|    2|    6|Reciprocating|      AA|null|       null|
| N531JB|null|SINGLE_ENG|    BARKER JACK|ZODIAC 601HDS|      1|    2|    6|Reciprocating|      JB|null|       null|
| N545AA|1976|SINGLE_ENG|          PIPER|   PA-32R-300|      1|    7|  126|Reciprocating|      AA|  46|       null|
| N557AA|1993|SINGLE_ENG|     MARZ BARRY|    KITFOX IV|      1|    2|    6|Reciprocating|      AA|  29|       null|
| N575AA|1963|SINGLE_ENG|         CESSNA|        210-5|      1|    6|   17|Reciprocating|      AA|  59|       null|
+-------+----+----------+---------------+-------------+-------+-----+-----+-------------+--------+----+-----------+

## Flights Dataset

### Pergunta 1

In [29]:
print(df_flights.filter(F.col('minute').isNull()).count())
print(df_flights.filter(F.col('hour').isNull()).count())

df_flights = df_flights.withColumn("hour", 
                                   F.when((F.col('hour').isNull()) |
                                         F.col('hour').startswith('N') , 0)
                                  .otherwise(F.col('hour')))

df_flights = df_flights.withColumn("minute", 
                                   F.when((F.col('minute').isNull()) |
                                          F.col('minute').startswith('N'), 0) 
                                  .otherwise(F.col('minute')))

df_flights.filter(F.col('minute').isNull()).show()
df_flights.filter(F.col('hour').isNull()).show()
print(df_flights.filter(F.col('minute').isNull()).count())
print(df_flights.filter(F.col('hour').isNull()).count())
print(df_flights.filter(F.col('minute')==0).count())
print(df_flights.filter(F.col('hour')==0).count())

48
48
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

0
0
226
137

### Pergunta 2

In [30]:
df_flights.filter(F.col('hour') == 24).show()

df_flights = df_flights.withColumn("hour", 
                                  F.when(F.col('hour') == 24, 0)
                                   .otherwise(F.col('hour')))

df_flights.filter(F.col('hour') == 24).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|    6| 20|    2400|       10|     535|        0|     AA| N3GHAA|  2486|   SEA| ORD|     197|    1721|  24|     0|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

### Pergunta 3

In [31]:
df_flights = df_flights.withColumn('dep_string', 
                                   F.concat(
                                       F.col('year'),
                                       F.lit('-'),
                                       F.col('month'),
                                       F.lit('-'),
                                       F.col('day'),
                                       F.lit(' '),
                                       F.col('hour'),
                                       F.lit(':'),
                                       F.col('minute'),
                                       F.lit(':00')
                                   ))
df_flights = df_flights.withColumn('dep_datetime', F.to_timestamp(F.col('dep_string'), 'yyyy-M-d H:m:00'))
df_flights.select('dep_string','dep_datetime').show(30)
df_flights = df_flights.drop('dep_string')
df_flights.filter(df_flights.dep_datetime.isNull()).show()

+-------------------+-------------------+
|         dep_string|       dep_datetime|
+-------------------+-------------------+
|  2014-12-8 6:58:00|2014-12-08 06:58:00|
| 2014-1-22 10:40:00|2014-01-22 10:40:00|
|  2014-3-9 14:43:00|2014-03-09 14:43:00|
|   2014-4-9 17:5:00|2014-04-09 17:05:00|
|   2014-3-9 7:54:00|2014-03-09 07:54:00|
| 2014-1-15 10:37:00|2014-01-15 10:37:00|
|   2014-7-2 8:47:00|2014-07-02 08:47:00|
| 2014-5-12 16:55:00|2014-05-12 16:55:00|
| 2014-4-19 12:36:00|2014-04-19 12:36:00|
|2014-11-19 18:12:00|2014-11-19 18:12:00|
| 2014-11-8 16:53:00|2014-11-08 16:53:00|
|  2014-8-3 11:20:00|2014-08-03 11:20:00|
| 2014-10-30 8:11:00|2014-10-30 08:11:00|
|2014-11-12 23:46:00|2014-11-12 23:46:00|
|2014-10-31 13:14:00|2014-10-31 13:14:00|
|  2014-1-29 20:9:00|2014-01-29 20:09:00|
|2014-12-17 20:15:00|2014-12-17 20:15:00|
| 2014-8-11 10:17:00|2014-08-11 10:17:00|
| 2014-1-13 21:56:00|2014-01-13 21:56:00|
|  2014-6-5 17:33:00|2014-06-05 17:33:00|
|  2014-7-27 21:5:00|2014-07-27 21:05:00|
|  2014-9-26 6:10:00|2014-09-26 06:10:00|
| 2014-8-19 18:45:00|2014-08-19 18:45:00|
| 2014-8-19 12:22:00|2014-08-19 12:22:00|
| 2014-10-29 6:43:00|2014-10-29 06:43:00|
|  2014-6-5 11:33:00|2014-06-05 11:33:00|
| 2014-12-30 13:5:00|2014-12-30 13:05:00|
| 2014-9-28 18:48:00|2014-09-28 18:48:00|
|  2014-12-4 9:54:00|2014-12-04 09:54:00|
|  2014-2-25 5:55:00|2014-02-25 05:55:00|
+-------------------+-------------------+
only showing top 30 rows

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+

### Pergunta 4

In [32]:
df_flights.select('dep_time').filter(df_flights.dep_time.rlike(REGEX_NOT_NUM)).distinct().show()
df_flights.filter(F.col('dep_time').isNull()).show()

df_flights = df_flights.withColumn('dep_time', 
                                   F.when(F.col('dep_time').endswith('A')
                                          , F.concat(F.col('hour'), 
                                                     F.when(F.length(F.col('minute'))== 1, 
                                                                     F.concat(F.lit('0'),F.col('minute')))
                                                     .otherwise(F.col('minute'))))
                                  .otherwise(F.col('dep_time')))
                                  
df_flights.select('dep_time').filter(df_flights.dep_time.rlike(REGEX_NOT_NUM)).distinct().show()
df_flights.filter(F.col('dep_time').isNull()).show()

+--------+
|dep_time|
+--------+
|      NA|
+--------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+

+--------+
|dep_time|
+--------+
+--------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+

### Pergunta 5

In [33]:
df_flights.filter(F.col('dep_delay').isNull()).show()
print(df_flights.filter(F.col('dep_delay').isNull()).count())
df_flights.filter(F.col('dep_delay').rlike(REGEX_NOT_NUM)).distinct().show()

df_flights = df_flights.withColumn('dep_delay', 
                                   F.when(F.col('dep_delay').isNull(), 0)
                                  .otherwise(F.col('dep_delay')))

df_flights.filter(F.col('dep_delay').isNull()).show()
print(df_flights.filter(F.col('dep_delay').isNull()).count())
df_flights.filter(F.col('dep_delay').rlike(REGEX_NOT_NUM)).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|       dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|2014|    3|  4|     000|     null|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|   0|     0|2014-03-04 00:00:00|
|2014|    2| 12|     000|     null|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|   0|     0|2014-02-12 00:00:00|
|2014|    7|  1|     000|     null|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|   0|     0|2014-07-01 00:00:00|
|2014|    4| 30|     000|     null|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|   0|     0|2014-04-30 00:00:00|
|2014|    1|  3|     000|     null|      NA|     null|     US|     NA|   553|   SEA| PHL|    null|    2378|   0|     0|2014-01-03 00:00:00|
|2014|    8|  7|     000|     null|      NA|     null|     AS| N579AS|   867|   SEA| OGG|    null|    2640|   0|     0|2014-08-07 00:00:00|
|2014|    8| 11|     000|     null|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|   0|     0|2014-08-11 00:00:00|
|2014|    1|  2|     000|     null|      NA|     null|     UA|     NA|   212|   SEA| EWR|    null|    2402|   0|     0|2014-01-02 00:00:00|
|2014|    5| 15|     000|     null|      NA|     null|     OO| N917SW|  6250|   PDX| LAX|    null|     834|   0|     0|2014-05-15 00:00:00|
|2014|    2|  7|     000|     null|      NA|     null|     OO| N594SW|  5553|   PDX| SFO|    null|     550|   0|     0|2014-02-07 00:00:00|
|2014|    6|  6|     000|     null|      NA|     null|     WN| N645SW|   956|   PDX| OAK|    null|     543|   0|     0|2014-06-06 00:00:00|
|2014|    1|  5|     000|     null|      NA|     null|     UA|     NA|   758|   PDX| IAH|    null|    1825|   0|     0|2014-01-05 00:00:00|
|2014|    1|  6|     000|     null|      NA|     null|     UA|     NA|  1729|   SEA| DEN|    null|    1024|   0|     0|2014-01-06 00:00:00|
|2014|    3| 30|     000|     null|      NA|     null|     US|     NA|   500|   SEA| PHX|    null|    1107|   0|     0|2014-03-30 00:00:00|
|2014|    2|  9|     000|     null|      NA|     null|     OO| N580SW|  5438|   PDX| EUG|    null|     106|   0|     0|2014-02-09 00:00:00|
|2014|    2|  9|     000|     null|      NA|     null|     OO| N297SW|  5342|   SEA| PDX|    null|     129|   0|     0|2014-02-09 00:00:00|
|2014|    1|  1|     000|     null|      NA|     null|     OO| N295SW|  5403|   PDX| EUG|    null|     106|   0|     0|2014-01-01 00:00:00|
|2014|    2| 17|     000|     null|      NA|     null|     AA| N3LCAA|  1236|   SEA| ORD|    null|    1721|   0|     0|2014-02-17 00:00:00|
|2014|    1|  5|     000|     null|      NA|     null|     UA|     NA|   995|   PDX| SFO|    null|     550|   0|     0|2014-01-05 00:00:00|
|2014|    5| 26|     000|     null|      NA|     null|     UA|     NA|   690|   SEA| ORD|    null|    1721|   0|     0|2014-05-26 00:00:00|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
only showing top 20 rows

48
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+

0
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+

### Pergunta 6

In [34]:
df_flights.filter(F.col('arr_delay').isNull()).show()
print(df_flights.filter(F.col('arr_delay').isNull()).count())
df_flights.filter(F.col('arr_delay').rlike(REGEX_NOT_NUM)).distinct().show()

df_flights = df_flights.withColumn('arr_delay', 
                                  F.when(F.col('arr_delay').isNull(), 0)
                                  .otherwise(F.col('arr_delay')))

df_flights.filter(F.col('arr_delay').isNull()).show()
df_flights.filter(F.col('arr_delay').rlike(REGEX_NOT_NUM)).show()
print(df_flights.filter(F.col('dep_delay').isNull()).count())

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|       dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|2014|    4|  6|    1329|        4|    2159|     null|     DL| N130DL|  1929|   SEA| ATL|    null|    2182|  13|    29|2014-04-06 13:29:00|
|2014|    3|  4|     000|        0|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|   0|     0|2014-03-04 00:00:00|
|2014|    2| 12|     000|        0|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|   0|     0|2014-02-12 00:00:00|
|2014|    7|  1|     000|        0|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|   0|     0|2014-07-01 00:00:00|
|2014|   12| 27|    1420|       40|    2012|     null|     OO| N224AG|  3452|   SEA| HDN|    null|     891|  14|    20|2014-12-27 14:20:00|
|2014|    4| 30|     000|        0|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|   0|     0|2014-04-30 00:00:00|
|2014|    1|  3|     000|        0|      NA|     null|     US|     NA|   553|   SEA| PHL|    null|    2378|   0|     0|2014-01-03 00:00:00|
|2014|    6| 11|    1054|       -9|    1624|     null|     OO| N926SW|  5576|   PDX| DEN|    null|     991|  10|    54|2014-06-11 10:54:00|
|2014|    8|  7|     000|        0|      NA|     null|     AS| N579AS|   867|   SEA| OGG|    null|    2640|   0|     0|2014-08-07 00:00:00|
|2014|    8| 11|     000|        0|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|   0|     0|2014-08-11 00:00:00|
|2014|    2|  6|    2238|        8|      NA|     null|     OO| N297SW|  5437|   PDX| LMT|    null|     241|  22|    38|2014-02-06 22:38:00|
|2014|    1|  2|     000|        0|      NA|     null|     UA|     NA|   212|   SEA| EWR|    null|    2402|   0|     0|2014-01-02 00:00:00|
|2014|    5| 15|     000|        0|      NA|     null|     OO| N917SW|  6250|   PDX| LAX|    null|     834|   0|     0|2014-05-15 00:00:00|
|2014|    2|  7|     000|        0|      NA|     null|     OO| N594SW|  5553|   PDX| SFO|    null|     550|   0|     0|2014-02-07 00:00:00|
|2014|    4| 15|     652|       -8|    1754|     null|     DL| N378DA|   400|   PDX| JFK|    null|    2454|   6|    52|2014-04-15 06:52:00|
|2014|    6|  6|     000|        0|      NA|     null|     WN| N645SW|   956|   PDX| OAK|    null|     543|   0|     0|2014-06-06 00:00:00|
|2014|    1|  5|     000|        0|      NA|     null|     UA|     NA|   758|   PDX| IAH|    null|    1825|   0|     0|2014-01-05 00:00:00|
|2014|    1|  6|     000|        0|      NA|     null|     UA|     NA|  1729|   SEA| DEN|    null|    1024|   0|     0|2014-01-06 00:00:00|
|2014|    3| 30|     000|        0|      NA|     null|     US|     NA|   500|   SEA| PHX|    null|    1107|   0|     0|2014-03-30 00:00:00|
|2014|    5| 24|    1455|       55|    2212|     null|     UA| N37409|  1635|   SEA| IAH|    null|    1874|  14|    55|2014-05-24 14:55:00|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
only showing top 20 rows

75
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------+

0

### Pergunta 7

In [35]:
df_flights = df_flights.drop('year','month','day','hour','minute')
df_flights.show()

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+
|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|2014-12-08 06:58:00|
|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|2014-01-22 10:40:00|
|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|2014-03-09 14:43:00|
|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|2014-04-09 17:05:00|
|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|2014-03-09 07:54:00|
|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|2014-01-15 10:37:00|
|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|2014-07-02 08:47:00|
|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|2014-05-12 16:55:00|
|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|2014-04-19 12:36:00|
|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|2014-11-19 18:12:00|
|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|2014-11-08 16:53:00|
|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|2014-08-03 11:20:00|
|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|2014-10-30 08:11:00|
|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|2014-11-12 23:46:00|
|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|2014-10-31 13:14:00|
|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|2014-01-29 20:09:00|
|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|2014-12-17 20:15:00|
|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|2014-08-11 10:17:00|
|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|2014-01-13 21:56:00|
|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|2014-06-05 17:33:00|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+
only showing top 20 rows

### Pergunta 8

In [36]:
df_flights = df_flights.withColumn('air_time_projected', ((F.col('distance')*0.1) + 20).cast('int'))
df_flights.select('distance','air_time_projected').show()

+--------+------------------+
|distance|air_time_projected|
+--------+------------------+
|     954|               115|
|    2677|               287|
|     679|                87|
|     569|                76|
|     937|               113|
|     991|               119|
|     543|                74|
|     679|                87|
|    1050|               125|
|    1721|               192|
|     954|               115|
|    1107|               130|
|     867|               106|
|    1448|               164|
|     679|                87|
|     550|                75|
|     605|                80|
|    1733|               193|
|    2496|               269|
|     817|               101|
+--------+------------------+
only showing top 20 rows

### Pergunta 9

In [37]:
df_flights_avg_time = (df_flights.select('origin','dest','air_time')
                       .filter((~F.col('air_time').startswith('N')) & F.col('air_time').isNotNull())
                       )
df_flights_avg_time = df_flights_avg_time.withColumn('air_time', F.col('air_time').cast('int'))
df_flights_avg_time = df_flights_avg_time.groupBy("origin","dest").avg("air_time")

df_flights_avg_time = (df_flights_avg_time
                       .withColumnRenamed("origin","origin_1")
                       .withColumnRenamed("dest","dest_1"))


df_flights_avg_time.show()


df_flights = df_flights.join(df_flights_avg_time,
                            (F.col('origin') == F.col('origin_1')) &
                            (F.col('dest') == F.col('dest_1')),
                            "left")
df_flights = df_flights.withColumn('air_time_expected', F.col('avg(air_time)').cast('int'))
df_flights = df_flights.drop('dest_1','origin_1','avg(air_time)')
df_flights.show()

+--------+------+------------------+
|origin_1|dest_1|     avg(air_time)|
+--------+------+------------------+
|     SEA|   RNO|            74.375|
|     SEA|   DTW|219.81632653061226|
|     SEA|   CLE|             233.5|
|     SEA|   LAX| 126.8641425389755|
|     PDX|   SEA|34.927536231884055|
|     SEA|   BLI|              22.8|
|     PDX|   IAH|213.83928571428572|
|     PDX|   PHX|130.21153846153845|
|     SEA|   SLC| 88.98222222222222|
|     SEA|   SBA|118.30434782608695|
|     SEA|   BWI| 269.8965517241379|
|     PDX|   IAD| 267.8695652173913|
|     PDX|   SFO| 85.42809364548495|
|     SEA|   KOA|           347.075|
|     PDX|   MCI|174.46666666666667|
|     SEA|   SJC|103.13615023474179|
|     SEA|   ABQ|142.74418604651163|
|     SEA|   SAT|208.44444444444446|
|     PDX|   ONT| 111.6842105263158|
|     SEA|   LAS|118.46978021978022|
+--------+------+------------------+
only showing top 20 rows

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|air_time_projected|air_time_expected|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|2014-12-08 06:58:00|               115|              126|
|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|2014-01-22 10:40:00|               287|              343|
|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|2014-03-09 14:43:00|                87|              101|
|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|2014-04-09 17:05:00|                76|               85|
|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|2014-03-09 07:54:00|               113|              122|
|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|2014-01-15 10:37:00|               119|              123|
|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|2014-07-02 08:47:00|                74|               81|
|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|2014-05-12 16:55:00|                87|              101|
|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|2014-04-19 12:36:00|               125|              137|
|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|2014-11-19 18:12:00|               192|              202|
|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|2014-11-08 16:53:00|               115|              126|
|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|2014-08-03 11:20:00|               130|              141|
|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|2014-10-30 08:11:00|               106|              118|
|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|2014-11-12 23:46:00|               164|              190|
|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|2014-10-31 13:14:00|                87|              101|
|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|2014-01-29 20:09:00|                75|               85|
|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|2014-12-17 20:15:00|                80|               82|
|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|2014-08-11 10:17:00|               193|              214|
|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|2014-01-13 21:56:00|               269|              286|
|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|2014-06-05 17:33:00|               101|              108|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
only showing top 20 rows

### Pergunta 10

In [38]:
df_flights.filter(F.col('air_time').isNull()).show()
df_flights.filter(F.col('air_time').rlike(REGEX_NOT_NUM)).show()

df_flights = df_flights.withColumn('air_time', 
                                   F.when(F.col('air_time').isNull(),
                                          F.when(F.col('air_time_projected') > F.col('air_time_expected'),
                                                F.col('air_time_projected'))
                                          .otherwise(F.col('air_time_expected')))
                                   .otherwise(F.col('air_time')))

df_flights.filter(F.col('air_time').isNull()).show()

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|air_time_projected|air_time_expected|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
|    1329|        4|    2159|        0|     DL| N130DL|  1929|   SEA| ATL|    null|    2182|2014-04-06 13:29:00|               238|              245|
|     000|        0|      NA|        0|     UA|     NA|   156|   SEA| DEN|    null|    1024|2014-03-04 00:00:00|               122|              127|
|     000|        0|      NA|        0|     AS| N527AS|     2|   SEA| DCA|    null|    2329|2014-02-12 00:00:00|               252|              268|
|     000|        0|      NA|        0|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|2014-07-01 00:00:00|               193|              214|
|    1420|       40|    2012|        0|     OO| N224AG|  3452|   SEA| HDN|    null|     891|2014-12-27 14:20:00|               109|              117|
|     000|        0|      NA|        0|     AS| N526AS|   566|   PDX| LAX|    null|     834|2014-04-30 00:00:00|               103|              114|
|     000|        0|      NA|        0|     US|     NA|   553|   SEA| PHL|    null|    2378|2014-01-03 00:00:00|               257|              279|
|    1054|       -9|    1624|        0|     OO| N926SW|  5576|   PDX| DEN|    null|     991|2014-06-11 10:54:00|               119|              123|
|     000|        0|      NA|        0|     AS| N579AS|   867|   SEA| OGG|    null|    2640|2014-08-07 00:00:00|               284|              339|
|     000|        0|      NA|        0|     OO| N689CA|  4528|   PDX| SEA|    null|     129|2014-08-11 00:00:00|                32|               34|
|    2238|        8|      NA|        0|     OO| N297SW|  5437|   PDX| LMT|    null|     241|2014-02-06 22:38:00|                44|               53|
|     000|        0|      NA|        0|     UA|     NA|   212|   SEA| EWR|    null|    2402|2014-01-02 00:00:00|               260|              277|
|     000|        0|      NA|        0|     OO| N917SW|  6250|   PDX| LAX|    null|     834|2014-05-15 00:00:00|               103|              114|
|     000|        0|      NA|        0|     OO| N594SW|  5553|   PDX| SFO|    null|     550|2014-02-07 00:00:00|                75|               85|
|     652|       -8|    1754|        0|     DL| N378DA|   400|   PDX| JFK|    null|    2454|2014-04-15 06:52:00|               265|              286|
|     000|        0|      NA|        0|     WN| N645SW|   956|   PDX| OAK|    null|     543|2014-06-06 00:00:00|                74|               81|
|     000|        0|      NA|        0|     UA|     NA|   758|   PDX| IAH|    null|    1825|2014-01-05 00:00:00|               202|              213|
|     000|        0|      NA|        0|     UA|     NA|  1729|   SEA| DEN|    null|    1024|2014-01-06 00:00:00|               122|              127|
|     000|        0|      NA|        0|     US|     NA|   500|   SEA| PHX|    null|    1107|2014-03-30 00:00:00|               130|              141|
|    1455|       55|    2212|        0|     UA| N37409|  1635|   SEA| IAH|    null|    1874|2014-05-24 14:55:00|               207|              220|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
only showing top 20 rows

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|dep_datetime|air_time_projected|air_time_expected|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|dep_datetime|air_time_projected|air_time_expected|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+

### Pergunta 11

In [39]:
df_flights.filter(F.col('arr_time').rlike(REGEX_NOT_NUM)).show()
df_flights.filter(F.col('arr_time').isNull()).show()
df_flights = df_flights.withColumn('dep_hour_teste',
                                  F.when(F.length(F.col('dep_time')) == 3,
                                        F.col('dep_time').substr(1,1).cast('int'))
                                  .when(F.length(F.col('dep_time')) == 4,
                                       F.col('dep_time').substr(1,2).cast('int')))

df_flights = df_flights.withColumn('dep_minute_teste',
                                  F.when(F.length(F.col('dep_time')) == 3,
                                        F.col('dep_time').substr(-2,3).cast('int'))
                                  .when(F.length(F.col('dep_time')) == 4,
                                       F.col('dep_time').substr(-2,4).cast('int')))

df_flights = df_flights.withColumn('dep_arr_total', F.col('dep_hour_teste')*60 + F.col('dep_minute_teste') + F.col('air_time'))
df_flights = df_flights.withColumn('horas', (F.col('dep_arr_total')/60).cast('int'))


df_flights = df_flights.withColumn('minutos', F.col('dep_arr_total') - (F.col('horas')*60))
df_flights = df_flights.withColumn('horas', 
                                   F.when(F.col('horas') == 24, 0)
                                  .otherwise(F.col('horas')))
df_flights = df_flights.withColumn('arr_time', 
                                  F.when(F.col('arr_time').startswith('N'),
                                         F.when(F.col('minutos') < 10, 
                                                F.concat(F.col('horas'),F.lit('0') ,F.col('minutos')))
                                         .otherwise(F.concat(F.col('horas'), F.col('minutos')))
                                        ) 
                                   .otherwise(F.col('arr_time')))
df_flights = df_flights.drop('dep_hour_teste','dep_minute_teste','dep_arr_total','horas','minutos')
df_flights.filter(F.col('arr_time').rlike(REGEX_NOT_NUM)).show()
df_flights.filter(F.col('tailnum') == 'N527AS').show()
df_flights.select('arr_time','air_time','dep_time').filter(F.col('arr_time').rlike(REGEX_NOT_NUM)).show(100)

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|air_time_projected|air_time_expected|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
|     000|        0|      NA|        0|     UA|     NA|   156|   SEA| DEN|     127|    1024|2014-03-04 00:00:00|               122|              127|
|     000|        0|      NA|        0|     AS| N527AS|     2|   SEA| DCA|     268|    2329|2014-02-12 00:00:00|               252|              268|
|     000|        0|      NA|        0|     WN| N8323C|  2485|   SEA| MDW|     214|    1733|2014-07-01 00:00:00|               193|              214|
|     000|        0|      NA|        0|     AS| N526AS|   566|   PDX| LAX|     114|     834|2014-04-30 00:00:00|               103|              114|
|     000|        0|      NA|        0|     US|     NA|   553|   SEA| PHL|     279|    2378|2014-01-03 00:00:00|               257|              279|
|     000|        0|      NA|        0|     AS| N579AS|   867|   SEA| OGG|     339|    2640|2014-08-07 00:00:00|               284|              339|
|     000|        0|      NA|        0|     OO| N689CA|  4528|   PDX| SEA|      34|     129|2014-08-11 00:00:00|                32|               34|
|    2238|        8|      NA|        0|     OO| N297SW|  5437|   PDX| LMT|      53|     241|2014-02-06 22:38:00|                44|               53|
|     000|        0|      NA|        0|     UA|     NA|   212|   SEA| EWR|     277|    2402|2014-01-02 00:00:00|               260|              277|
|     000|        0|      NA|        0|     OO| N917SW|  6250|   PDX| LAX|     114|     834|2014-05-15 00:00:00|               103|              114|
|     000|        0|      NA|        0|     OO| N594SW|  5553|   PDX| SFO|      85|     550|2014-02-07 00:00:00|                75|               85|
|     000|        0|      NA|        0|     WN| N645SW|   956|   PDX| OAK|      81|     543|2014-06-06 00:00:00|                74|               81|
|     000|        0|      NA|        0|     UA|     NA|   758|   PDX| IAH|     213|    1825|2014-01-05 00:00:00|               202|              213|
|     000|        0|      NA|        0|     UA|     NA|  1729|   SEA| DEN|     127|    1024|2014-01-06 00:00:00|               122|              127|
|     000|        0|      NA|        0|     US|     NA|   500|   SEA| PHX|     141|    1107|2014-03-30 00:00:00|               130|              141|
|     000|        0|      NA|        0|     OO| N580SW|  5438|   PDX| EUG|      30|     106|2014-02-09 00:00:00|                30|               27|
|     000|        0|      NA|        0|     OO| N297SW|  5342|   SEA| PDX|      32|     129|2014-02-09 00:00:00|                32|               32|
|     000|        0|      NA|        0|     OO| N295SW|  5403|   PDX| EUG|      30|     106|2014-01-01 00:00:00|                30|               27|
|     000|        0|      NA|        0|     AA| N3LCAA|  1236|   SEA| ORD|     202|    1721|2014-02-17 00:00:00|               192|              202|
|     000|        0|      NA|        0|     UA|     NA|   995|   PDX| SFO|      85|     550|2014-01-05 00:00:00|                75|               85|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
only showing top 20 rows

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|dep_datetime|air_time_projected|air_time_expected|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|dep_datetime|air_time_projected|air_time_expected|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|air_time_projected|air_time_expected|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
|     647|       -3|    1007|      -12|     AS| N527AS|   682|   SEA| DEN|     119|    1024|2014-03-03 06:47:00|               122|              127|
|     000|        0|     428|        0|     AS| N527AS|     2|   SEA| DCA|     268|    2329|2014-02-12 00:00:00|               252|              268|
|    1926|       -9|    2150|       -5|     AS| N527AS|   524|   SEA| BUR|     127|     937|2014-06-25 19:26:00|               113|              122|
|     550|      -15|     745|      -20|     AS| N527AS|   344|   SEA| OAK|      92|     671|2014-02-06 05:50:00|                87|               99|
|    2222|       -3|      48|      -20|     AS| N527AS|   143|   PDX| ANC|     194|    1542|2014-06-21 22:22:00|               174|              202|
|     700|       -5|     939|       17|     AS| N527AS|   608|   SEA| LAS|     131|     867|2014-03-25 07:00:00|               106|              118|
|    1149|       -1|    1258|       15|     AS| N527AS|   684|   SEA| GEG|      38|     224|2014-04-12 11:49:00|                42|               37|
|     613|       -2|     848|       -7|     AS| N527AS|   454|   SEA| LAX|     129|     954|2014-08-05 06:13:00|               115|              126|
|     758|       -2|    1037|       -3|     AS| N527AS|   482|   SEA| LAX|     122|     954|2014-09-29 07:58:00|               115|              126|
|    1839|       -1|    2130|        2|     AS| N527AS|   109|   SEA| ANC|     212|    1448|2014-12-01 18:39:00|               164|              190|
|     558|       -2|     838|        8|     AS| N527AS|    81|   SEA| ANC|     194|    1448|2014-05-10 05:58:00|               164|              190|
|     951|        1|    1731|       -4|     AS| N527AS|   752|   PDX| ATL|     266|    2172|2014-01-24 09:51:00|               237|              247|
|    1023|        8|    1721|       21|     AS| N527AS|   788|   SEA| MSY|     258|    2086|2014-09-28 10:23:00|               228|              242|
|    2132|        7|    2334|       19|     AS| N527AS|   384|   PDX| SFO|     103|     550|2014-09-23 21:32:00|                75|               85|
|     644|       -6|    1009|      -10|     AS| N527AS|   682|   SEA| DEN|     124|    1024|2014-02-18 06:44:00|               122|              127|
|    2041|       -4|    2252|       -7|     AS| N527AS|   566|   PDX| LAX|     106|     834|2014-10-21 20:41:00|               103|              114|
|    1350|       -5|    2209|       10|     AS| N527AS|     2|   SEA| DCA|     297|    2329|2014-06-04 13:50:00|               252|              268|
|    1237|       -3|    1800|      -45|     AS| N527AS|   692|   SEA| SAT|     190|    1774|2014-03-05 12:37:00|               197|              208|
|     836|        1|    1644|        6|     AS| N527AS|    32|   SEA| PHL|     291|    2378|2014-06-17 08:36:00|               257|              279|
|    1133|       -7|    1356|      -10|     AS| N527AS|   500|   SEA| SNA|     129|     978|2014-01-15 11:33:00|               117|              133|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+
only showing top 20 rows

+--------+--------+--------+
|arr_time|air_time|dep_time|
+--------+--------+--------+
+--------+--------+--------+

### Pergunta 12

In [40]:
df_flights = df_flights.withColumn('haul_duration',
                                  F.when(F.col('air_time').between(20,180), 'SHORT-HAUL')
                                  .when(F.col('air_time').between(180,360), 'MEDIUM-HAUL')
                                  .when(F.col('air_time') > 360,'LONG-HAUL'))

df_flights.groupBy('haul_duration').count().show()
df_flights.select('air_time','haul_duration').filter(F.col('haul_duration').isNull()).show()

+-------------+-----+
|haul_duration|count|
+-------------+-----+
|    LONG-HAUL|   54|
|  MEDIUM-HAUL| 3254|
|   SHORT-HAUL| 6692|
+-------------+-----+

+--------+-------------+
|air_time|haul_duration|
+--------+-------------+
+--------+-------------+

### Pergunta 13

In [41]:
df_flights = df_flights.withColumn('dep_season',
                                  F.when(
                                      (F.col('dep_datetime') < F.concat(F.year('dep_datetime'),F.lit('-03-20 15:33:00'))) |
                                       (F.col('dep_datetime') > F.concat(F.year('dep_datetime'), F.lit('-12-21 21:48:00'))),
                                        'WINTER')
                                  .when(F.col('dep_datetime')
                                        .between(F.concat(F.year('dep_datetime'),F.lit('-03-20 15:33:01')),
                                                F.concat(F.year('dep_datetime'),F.lit('-06-21 10:14:00'))),
                                        'SPRING'
                                       )
                                   .when(F.col('dep_datetime')
                                        .between(F.concat(F.year('dep_datetime'),F.lit('-06-21 10:14:01')),
                                                F.concat(F.year('dep_datetime'),F.lit('-09-23 02:04:00'))),
                                        'SUMMER'
                                       )
                                    .when(F.col('dep_datetime')
                                        .between(F.concat(F.year('dep_datetime'),F.lit('-09-23 02:04:01')),
                                                F.concat(F.year('dep_datetime'),F.lit('-12-21 21:48:00'))),
                                        'FALL'
                                       )
                                  )

df_flights.select('dep_season').groupBy('dep_season').count().show()
df_flights.select('dep_datetime','dep_season').show()

+----------+-----+
|dep_season|count|
+----------+-----+
|    WINTER| 2149|
|    SPRING| 2560|
|      FALL| 2373|
|    SUMMER| 2918|
+----------+-----+

+-------------------+----------+
|       dep_datetime|dep_season|
+-------------------+----------+
|2014-12-08 06:58:00|      FALL|
|2014-01-22 10:40:00|    WINTER|
|2014-03-09 14:43:00|    WINTER|
|2014-04-09 17:05:00|    SPRING|
|2014-03-09 07:54:00|    WINTER|
|2014-01-15 10:37:00|    WINTER|
|2014-07-02 08:47:00|    SUMMER|
|2014-05-12 16:55:00|    SPRING|
|2014-04-19 12:36:00|    SPRING|
|2014-11-19 18:12:00|      FALL|
|2014-11-08 16:53:00|      FALL|
|2014-08-03 11:20:00|    SUMMER|
|2014-10-30 08:11:00|      FALL|
|2014-11-12 23:46:00|      FALL|
|2014-10-31 13:14:00|      FALL|
|2014-01-29 20:09:00|    WINTER|
|2014-12-17 20:15:00|      FALL|
|2014-08-11 10:17:00|    SUMMER|
|2014-01-13 21:56:00|    WINTER|
|2014-06-05 17:33:00|    SPRING|
+-------------------+----------+
only showing top 20 rows

### Pergunta 14

In [42]:
df_flights = df_flights.withColumn('dep_delay_category',
                                  F.when(F.col('dep_delay') < 0, 'ANTECIPATED')
                                   .when(F.col('dep_delay') == 0, 'INTIME')
                                   .when(F.col('dep_delay').between(0,59), 'MINOR')
                                   .when(F.col('dep_delay') >= 60 , 'MAJOR'))
df_flights.groupBy('dep_delay_category').count().show()

+------------------+-----+
|dep_delay_category|count|
+------------------+-----+
|       ANTECIPATED| 5894|
|             MAJOR|  395|
|             MINOR| 3065|
|            INTIME|  646|
+------------------+-----+

In [43]:
df_planes.write.mode('overwrite').parquet('output/planes_proc.parquet')
df_airports.write.mode('overwrite').parquet('output/airports_proc.parquet')
df_flights.write.mode('overwrite').parquet('output/flights_proc.parquet')